//

// Global selectors for Builder Front-End

//

// Admin Bar - Icon (Front-End)

#wpadminbar #wp-admin-bar-builder_edit_page > .ab-item::before {
  margin-top  : 5px;
  content     : "\e800";
  font-size   : 12px;
  font-family : eicon;
}

.builder {
  // Reset Style for some themes and browsers
  hyphens : manual;

  * {
    &,
    &:after,
    &:before {
      box-sizing : border-box;
    }
  }

  a {
    box-shadow      : none;
    text-decoration : none;
  }

  hr {
    margin           : 0;
    background-color : transparent;
  }

  img {
    max-width     : 100%;
    height        : auto;
    border        : none;
    border-radius : 0;
    box-shadow    : none;
  }

  figure {
    margin : 0;
  }
  // Responsive Embed

  embed,
  iframe,
  object,
  video {
    margin      : 0;
    max-width   : 100%;
    width       : 100%;
    line-height : 1;
  }

  .builder-custom-embed {
    line-height : 0;
    // for google maps margin bottom
  }
  // Background Video

  .builder-background-video-container {
    position : absolute;
    top      : 0;
    left     : 0;
    z-index  : $ground-layer;
    overflow : hidden;
    width    : 100%;
    height   : 100%;
  }

  .builder-background-video {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    max-width : none;
    transform : translateY(-50%) translateX(-50%);
  }
  
  .builder-html5-video {
    object-fit : cover;
    // For HTML5 portrait video
  }
  // End Background Video

  .builder-background-overlay {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
  }

  .builder-invisible {
    visibility : hidden;
  }
}

// Alignment Classes

.builder-align- {
  &center {
    margin     : 0 auto;
    text-align : center;

    .builder-wrapper {
      margin : 0 auto;
    }

    .builder-button {
      width : auto;
    }
  }

  &right {
    text-align : right;

    .builder-wrapper {
      margin-left : auto;
    }

    .builder-button {
      width : auto;
    }
  }

  &left {
    text-align : left;

    .builder-wrapper {
      margin-right : auto;
    }

    .builder-button {
      width : auto;
    }
  }

  &justify {
    .builder-button {
      width : 100%;
    }
  }
}

// Alignment for Tablet

@media (max-width: $screen-md-max) {
  .builder-tablet-align- {
    &center {
      text-align : center;

      .builder-button {
        width : auto;
      }
    }

    &right {
      text-align : right;

      .builder-button {
        width : auto;
      }
    }

    &left {
      text-align : left;

      .builder-button {
        width : auto;
      }
    }

    &justify {
      .builder-button {
        width : 100%;
      }
    }
  }
}

// Alignment for Mobile

@media (max-width: $screen-sm-max) {
  .builder-mobile-align- {
    &center {
      text-align : center;

      .builder-button {
        width : auto;
      }
    }

    &right {
      text-align : right;

      .builder-button {
        width : auto;
      }
    }

    &left {
      text-align : left;

      .builder-button {
        width : auto;
      }
    }

    &justify {
      .builder-button {
        width : 100%;
      }
    }
  }
}

// TEMP CODE

#builder-select-preset {
  display : none;
}

.builder-widget-container {
  width : 100%;
}
