.qazana-has-loading-indicator {
    position: relative;

    .qazana-loading-indicator {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -27px;
        margin-top: -27px;
        z-index: 10;
    }

    .qazana-widget-container {
        opacity: 0;
        visibility: hidden;
    }
}

@import 'global/color-spinner';