//
// Visibility by Devices (based on breakpoints)
//

@media (max-width: $screen-sm-max) {
	.qazana-hidden-phone {
		display: none;
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.qazana-hidden-tablet {
		display: none;
	}
}

@media (min-width: $screen-lg-min) {
	.qazana-hidden-desktop {
		display: none;
	}
}

.qazana-hidden {
	display: none;
}
