// Compatibility qazana editor for themes and plugins

body.qazana-editor-active {

	// Hack for pojo.me themes
	&.layout-section {
		.entry-content {
			overflow: visible;
		}
	}

	// Hack for bluchic.com themes
	.article {
		overflow: visible;
	}

	// Hack for Zerif Pro theme
	.qazana-element-overlay {
		.qazana-editor-element-settings-list {
			clear: unset;
		}
	}
}

#qazana {

	// Fixes Make theme issue
	.qazana-editor-element-settings-list {
		word-break: normal;
	}

	// Hack for jQuery Masonry Image Gallery plugin
	.gallery {
		opacity: 1;
	}
}
