//
// Dialog
//

.dialog-widget {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
    margin-top: 15px;
    overflow: hidden;
}

.dialog-widget-content {
	position: absolute;
	border-radius: 3px;
	box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

.dialog-widget-header, .dialog-message {
	text-align: center;
}

.dialog-message {
	font-size: 12px;
	line-height: 1.5;
    background-color: #fff;
}

.dialog-buttons-wrapper {
	border-top: 1px solid $editor-background;
	text-align: center;
    background-color: #fff;

	> button {
		border: none;
		background: none;
		font-size: 15px;
		cursor: pointer;
		padding: 13px 0;
		outline: 0;

		&:first-child {
			color: $editor-dark;
		}

        &.dialog-cancel {
            background-color: #fff;
		}

		&.dialog-ok {
			color: $editor-warning;
            background-color: #fff;
		}

		&.dialog-take_over {
			color: $editor-success;
		}

		&:active {
			background-color: fade-out($editor-background, .5);
		}

		&::-moz-focus-inner {
			border: 0;
		}
	}
}

.dialog-widget-header {
	padding: 20px 0;
	font-weight: 500;
}

.dialog-options-widget,
.dialog-confirm-widget {

	.dialog-widget-header {
		font-size: 15px;
		color: $editor-warning;
		font-weight: bold;
		border-top: 3px solid $editor-warning;
		padding-bottom: 30px;
		padding-top: 50px;
        background-color: #fff;


        &:after {
            display: inline-block;
            font: normal normal normal 18px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            position: absolute;
            top: -30px;
            left: 50%;
            background-color: $editor-warning;
            content: '\f00d';
            color: white;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            margin-left: -30px;
        }
	}

	.dialog-buttons-wrapper {

		> button {
			width: 50%;

			&:first-child {
				@include border-end(1px solid $editor-background);
			}

			&:hover {
				background-color: lighten( $editor-background, 5%);
			}
		}
	}
}

.dialog-options-widget, .dialog-confirm-widget, .dialog-alert-widget {
	-webkit-user-select: none;
	-moz-user-select: none;

	.dialog-widget-content {
		margin: auto;
		width: 350px;
	}

	.dialog-message {
		padding: 0 20px;
		min-height: 50px;
        padding-bottom: 30px;
	}
}

.dialog-alert-widget {

	.dialog-buttons-wrapper {

		> button {
			width: 100%;
		}
	}
}

// Popup widget
.dialog-popup-message {
	height: 155px;
	width: 155px;
	background-color: #fff;
	border-radius: 3px;
}

.qazana-dialog-message {
	padding: 15px;

	.fa {
		font-size: 50px;
		padding: 10px;
	}
}

.qazana-dialog-message-text {
	text-transform: uppercase;
}

// Modal widget
.dialog-qazana-modal-close-button {
	cursor: pointer;
	position: absolute;
	top: 16px;
	@include end(20px);
	font-size: 16px;
	color: $editor-light;
}
