
// Loading Qazana

#qazana-loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $brand-primary;
	z-index: $editor-layer;
}

.qazana-loader-wrapper {
	$size: 100px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: $size;

	.qazana-loader {
		height: $size;
		position: relative;
	}

	.qazana-loader-box {
		background-color: $editor-background;
	}
	@import "loader";
}

.qazana-loading-title {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	letter-spacing: 7px;
	font-size: 10px;
}

#qazana-preview-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	i {
		color: $editor-lightest;
		font-size: 50px;
	}
}

// Select2
.select2-dropdown {
	border-color: $editor-light;

	.select2-search__field {
		outline: none;
	}
}

// Modal Confirm (the_content missing)
#qazana-fatal-error-dialog {
	button.dialog-ok {
		color: $editor-info;
	}

	.dialog-widget-header {
		font-size: 13px;
		color: $editor-dark;
	}
}

.qazana-hidden {
	display: none;
}

// Saved popup
#qazana-saved-popup {

	.dialog-message {
		height: 155px;
		width: 155px;
		background-color: #fff;
		border-radius: 10px;
	}

	.qazana-dialog-message {
		padding: 15px;

		.fa {
			font-size: 85px;
			padding: 10px;
		}
	}

	.qazana-dialog-message-text {
		text-transform: uppercase;
	}
}

