
// Loading Qazana

#qazana-loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $brand-primary;
	z-index: $editor-layer;
}

.qazana-loader-wrapper {
	$size: 100px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: $size;

	.qazana-loader {
		height: $size;
		position: relative;
	}

	.qazana-loader-box {
		background-color: $editor-background;
	}
	@import "loader";
}

.qazana-loading-title {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	letter-spacing: 7px;
	font-size: 10px;
}

#qazana-preview-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	i {
		color: $editor-lightest;
		font-size: 50px;
	}
}

// Select2
.select2-dropdown {
	border-color: $editor-light;

	.select2-search__field {
		outline: none;
	}
}

// Modal Confirm (the_content missing)
#qazana-fatal-error-dialog {
	button.dialog-ok {
		color: $editor-info;
	}

	.dialog-widget-header {
		font-size: 13px;
		color: $editor-dark;
	}
}

.qazana-hidden {
	display: none;
}

// Alert
.qazana-panel-alert {
	padding: 15px;
	border-left: 5px solid transparent;
	position: relative;
	font-size: 12px;
	line-height: 1.5;
	text-align: $start;

	&.qazana-panel-alert- {

		&info {
			color: $info-text;
			background-color: $info-bg;
			border-color: $info-border;
		}

		&success {
			color: $success-text;
			background-color: $success-bg;
			border-color: $success-border;
		}

		&warning {
			color: $warning-text;
			background-color: $warning-bg;
			border-color: $warning-border;
		}

		&danger {
			color: $danger-text;
			background-color: $danger-bg;
			border-color: $danger-border;
		}
	}
}
.qazana-label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	text-transform: capitalize;

	&.qazana-label-default {
		background-color: $editor-light;
	}

	&.qazana-label-info {
		background-color: $info;
	}

	&.qazana-label-success {
		background-color: $success;
	}

	&.qazana-label-warning {
		background-color: $warning;
	}

	&.qazana-label-danger {
		background-color: $danger;
	}
}

.qazana-descriptor {
	font-size: 11px;
	font-style: italic;
	line-height: 1.4;
	color: $editor-light;
}
