#builder-template-library-modal {
	.dialog-widget-content {
		width: 1300px;
		background-color: $editor-background-light;
	}

	.dialog-widget-header {
		padding: 0;
		background-color: #fff;
		box-shadow: $panel-bottom-shadow;
		position: relative; // Show the shadow above the scrolled list
		z-index: 1;
	}

	.dialog-buttons-wrapper {
		display: none;
	}

	.dialog-message {
		height: 830px;
		max-height: 85vh;
		overflow: auto;
		padding: 15px;
	}

	a {
		&,
		&:hover {
			color: inherit;
		}
	}

	a.builder-template-library-blank-footer-link {
		transition: color 0.5s;

		&:hover {
			color: $editor-accent;
		}
	}

	.builder-button-success {
		text-transform: uppercase;

		.builder-button-title {
			@include padding-start(8px);
		}
	}
}

#builder-template-library-header {
	display: flex;
	width: 100%;

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}

#builder-template-library-header-logo-area {
	width: 15%;
	text-align: $start;
	@include padding-start(15px);

	> * {
		float: $start;

		> * {
			vertical-align: middle;
		}
	}
}

#builder-template-library-header-logo {
	font-size: 15px;
	text-transform: uppercase;
	color: $editor-darkest;
	font-weight: bold;
	cursor: pointer;
	padding-top: 13px;

	i {
		@include padding-end(10px);
		color: $editor-accent;
		font-size: 20px;
	}
}

#builder-template-library-header-menu {
	text-align: center;
	width: 100%;
}

.builder-template-library-menu-item {
	display: inline-block;
	padding: 17px;
	cursor: pointer;

	&.builder-active {
		background-image: linear-gradient(to bottom, #f3f3f3, #fff);
		border-bottom: 3px solid $editor-accent;
	}
}

#builder-template-library-header-menu-area {
	width: 75%;

	> * {
		float: $end;
	}
}

#builder-template-library-header-items-area {
	width: 13%;

	> * {
		float: $end;
	}
}

#builder-template-library-header-tools {
	> * {
		float: $end;
	}
}

.builder-template-library-header-item {
	position: relative;
	@include border-start(1px solid $editor-background);
	height: 50px;
	box-sizing: content-box;
	cursor: pointer;
	transition: color 0.5s;

	&:not(:hover) {
		color: $editor-light;
	}

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	> i {
		font-size: 18px;
	}
}

#builder-template-library-header-close-modal,
#builder-template-library-header-save {
	width: 56px;
}

#builder-template-library-header-preview {
	> * {
		float: $end;
	}
}

#builder-template-library-header-preview-insert-wrapper {
	width: 100px;
	cursor: default;
}

#builder-template-library-header-preview-insert {
	width: 80%;
	padding: 8px 0;
}

#builder-template-library-header-preview-back {
	@include padding(16.5px, 16.5px, 15px, 0);
	@include border-end(1px solid $editor-background);
	cursor: pointer;
	transition: color 0.5s;

	&:not(:hover) {
		color: $editor-light;
	}

	i {
		@include padding-end(10px);
		font-size: 18px;

		&:before {
			content: getValueByDirection( '\e908', '\e907' );
		}
	}
}

#builder-template-library-loading {
	.builder-loading-title {
		color: $editor-light;
	}

	.builder-loader .cube {
		background-color: $editor-lightest;
	}
}

#builder-template-library-templates-container {
	overflow: hidden;

	&[data-template-source="local"] {
		box-shadow: 1px 1px 5px rgba(0,0,0,.1);
		margin: 15px;
	}

	&:not([data-template-source="remote"]),
	&:not([data-template-source="theme"]) {
		+ #builder-template-library-footer-banner {
			display: none;
		}
	}
}

.builder-template-library-template-remote,
.builder-template-library-template-theme {

	float: $start;
	width: 25%;
	padding: 0 15px;
	margin-top: 15px;

	&:not(:hover) {
		.builder-template-library-template-controls {
			opacity: 0;
		}
	}

	.builder-template-library-template-body {
		height: 330px;
		position: relative;
		box-shadow: 0 1px 6px rgba(0,0,0,0.2);
	}

	.builder-template-library-template-screenshot {
		height: 100%;
		background-size: cover;
		background-position-x: 50%;
	}

	.builder-template-library-template-controls {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
		transition: opacity 0.5s;
	}

	.builder-template-library-template-insert {
		font-size: 11px;
		width: 150px;
	}

	.builder-template-library-template-preview {
		position: relative;
		height: 180px;
		cursor: pointer;

		i {
			font-size: 20px;
			color: $editor-lightest;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.builder-template-library-template-insert {
		padding: 11px;

		i {
			@include padding-end(5px);
		}
	}

	.builder-template-library-template-name {
		margin: 13px 0 10px;
		font-size: 12px;
		text-align: center;
		color: $editor-dark;
	}
}

.builder-template-library-template-local {
	background-color: #fff;
	display: table;
	table-layout: fixed;
	width: 100%;
	border-bottom: 1px solid $editor-lightest;
	height: 50px;
	transition: background-color 0.3s linear;

	&:hover {
		background-color: lighten($editor-background-light, 3%);
	}

	&:not(:hover) {
		.builder-template-library-template-controls {
			visibility: hidden;
		}
	}

	> * {
		display: table-cell;
		vertical-align: middle;
		text-align: start;
	}

	.builder-template-library-template-icon {
		text-align: center;
		width: 6%;
	}

	.builder-template-library-template-name {
		font-size: 13px;
		font-weight: 500;
		width: 35%;
	}

	.builder-template-library-template-type {
		color: $editor-light;
	}

	.builder-template-library-template-controls {
		width: 42%;
		direction: getInverseDirection();

		> * {
			direction: $direction;
		}

		> div {
			display: inline-block;
			@include margin-start(15px);
			cursor: pointer;
			font-weight: 500;
			transition: color 0.5s;

			&:not(:hover) {
				color: $editor-light;
			}
		}
	}

	.builder-template-library-template-control-title {
		@include margin-start(6px);
	}

	.builder-template-library-template-delete {
		&:hover {
			color: $editor-warning;
		}
	}

	.builder-template-library-template-insert {
		padding: 8px 18px;
		margin: 0 20px;
	}
}

#builder-template-library-preview {
	height: 100%;
	overflow: hidden;

	iframe {
		width: 1906px;
		height: 150%;
		transform: scale(0.666) translateX(getValueByDirection(-25%, 25%)) translateY(-25%);
	}
}

.builder-template-library-blank-title {
	font-size: 30px;
	margin-top: 55px;
}

.builder-template-library-blank-excerpt {
	font-size: 18px;
	color: $editor-light;
	margin-top: 20px;
	font-weight: 300;
}

#builder-template-library-save-template-form {
	margin-top: 55px;
	display: flex;
	align-items: center;
	justify-content: center;

	> * {
		height: 60px;
		font-size: 18px;
	}
}

#builder-template-library-save-template-name {
	width: 460px;
	background-color: #fff;
	font-weight: 300;
	color: $editor-light;
	@include padding-start(25px);
	border-radius: getValueByDirection(3px 0 0 3px, 0 3px 3px 0);
	border: none;

	&:focus {
		border: 1px solid $editor-background;
	}
}

#builder-template-library-save-template-submit {
	width: 150px;
	border-radius: getValueByDirection(0 3px 3px 0, 3px 0 0 3px);
	font-weight: 500;

	&:hover {
		box-shadow: none;
	}
}

.builder-template-library-blank-footer {
	position: absolute;
	bottom: 90px;
	left: 50%;
	transform: translateX(-50%);
	color: $editor-light;
	font-size: 13px;
	font-style: italic;
}

#builder-template-library-footer-banner {
	i {
		color: $editor-lighter;
		font-size: 56px;
		margin-top: 40px;
	}

	.builder-excerpt {
		color: $editor-light;
		font-size: 15px;
		font-weight: 500;
		margin: 20px 0;
	}
}

#builder-template-library-templates-empty-icon {
	font-size: 96px;
	margin-top: 40px;
	color: $editor-lightest;
}

#builder-template-library-error-dialog {
	.dialog-message {
		text-align: start;
	}
}

#builder-template-library-error-info {
	margin-top: 10px;
}

//Search Icon
#builder-template-library-header-search-input {
	position: relative;
	border: 1px solid #EBEBEB;
	height: 30px;
	margin-top: 10px;
	border-radius: 2px;

	input {
		font-size: 11px;
		line-height: 28px;
		border-radius: 0;
		padding: 0 27px 0 10px;
		color: #a0a5aa;
		border: none;
		transition: all 1s;
	}

	#builder-template-library-header-search-input-clear,
	.fa.fa-search {
		position: absolute;
		right: 10px;
		top: 50%;
		color: #a0a5aa;
		transform: translateY(-50%);
		transition: right 1s;
	}

	#builder-template-library-header-search-input-clear {
		right: -30px;
		z-index: 1;
		height: 30px;
		width: 30px;
		line-height: 30px;
		cursor: pointer;
		opacity: 0;
	}

	&.active {
		#builder-template-library-header-search-input-clear {
			opacity: 1;
		}
	}
}
