//
// Editor
//
@import '../helpers/variables';
@import '../helpers/mixins';
@import '_compatibility';

// Hidden WP Admin Bar
html.qazana-html {
    margin-top: 0 !important;
}

#qazana {
    position: relative;
}

.qazana-editor-active {
    .qazana.qazana-edit-mode {
        .qazana-element-empty {
            .qazana-sortable-placeholder {
                display: none;
            }
        }

        .qazana-empty-view {
            display: table;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: $first-layer;
        }

        .qazana-first-add {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border: 1px dashed #d5dadf;

            .qazana-icon {
                font-size: 19px;
                color: $editor-light;
                cursor: pointer;
            }
        }

        .qazana-element {
            > .qazana-element-overlay {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                letter-spacing: 0; // Hack for front-end style themes
                z-index: $element-overlay;
                pointer-events: none;
            }

            &.qazana-widget-empty {
                height: 50px;
                background: $white;

                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: fade-out($editor-background, .2);
                }

                .qazana-widget-empty-icon {
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    color: $gray;
                    font-size: 22px;
                }
            }

            > .qazana-element-overlay {
                .qazana-editor-element-settings-list,
                .column-title {
                    display: none;
                }
            }

            &.qazana-section-tools-active {
                 > .qazana-element-overlay .qazana-editor-element-settings-list,
                > .qazana-element-overlay .column-title {
                    display: block;
                }

                &:not(.qazana-element-editable) {
                    > .qazana-element-overlay {
                        .qazana-editor-element-settings-list {
                            display: block;
                        }
                    }
                }

                &:not(.ui-resizable-resizing) {
                    > .qazana-element-overlay {
                        .column-title {
                            display: block;
                        }
                    }
                }
                @media (max-width: $screen-md-max) {
                    > .qazana-element-overlay {
                        .column-title {}
                    }
                }
            }

            /* &:not(:hover) {
                &:not(.qazana-element-editable) {
                    > .qazana-element-overlay {
                        .qazana-editor-element-settings-list {
                            display: none;
                        }
                    }
                }

                &:not(.ui-resizable-resizing) {
                    > .qazana-element-overlay {
                        .column-title {
                            display: none;
                        }
                    }
                }
            }

            @media (max-width: $screen-md-max) {
                > .qazana-element-overlay {
                    .column-title {
                        display: none;
                    }
                }
            } */

            &[data-side] {
                animation: increase-border 0.6s;
                animation-timing-function: ease-out;
            }

            &[data-side="bottom"] + .qazana-element,
            &[data-side="top"] {
                border-top: 4px solid $editor-info;
            }

            &[data-side="bottom"]:last-child {
                border-bottom: 4px solid $editor-info;
            }
        }

        // Section
        .qazana-section {
            &:not(.qazana-section-height-full) {
                .qazana-column-wrap {
                    &.qazana-element-empty {
                        @media (min-width: $screen-md-min) {
                            &,
                            .qazana-widget-wrap {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }

        // Inner Section
        .qazana-top-column {
            .qazana-widget-wrap {
                .qazana-inner-section {
                }
            }
        }

        // General - Overlay Settings
        .qazana-editor-element-settings {
            position: absolute;
            overflow: hidden;

            .qazana-editor-element-settings-list {
                display: table;
                table-layout: fixed;
                height: 30px;
                list-style: none;
                margin: 0;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                line-height: 1;

                &.qazana-editor-section-settings-list {
                    background-color: $editor-light;

                    .qazana-editor-element-setting {
                        @media (min-width: $screen-lg-min) {
                            &:not(:last-child) {
                                @include border-end(1px solid $editor-lighter);
                            }
                        }

                        &.qazana-editor-element-trigger {
                            &:not(.qazana-active) {
                                border: none;
                            }
                        }

                        > a {
                            &:hover {
                                background-color: $editor-lighter;
                            }
                        }
                    }
                }

                .fa {
                    color: $white;
                }
            }

            .qazana-editor-element-setting {
                display: table-cell;
                vertical-align: middle;
                width: 35px;
                text-align: center;
                padding: 0;
                margin: 0;

                > a {
                    padding: 8.5px 0;
                    display: inline-block;
                    width: 100%;
                    font-size: 11px;
                    line-height: 1;
                    color: #fff;
                }
            }

            .qazana-editor-element-remove {
                .fa {
                    color: $editor-danger;
                }
            }
        }

        // Column - Overlay Settings
        .qazana-editor-column-settings {
            @include start(-1px);
            z-index: $first-layer;
            bottom: 100%;
            margin-bottom: 1px;
            transform: translateY(1px);
            border-radius: 3px 3px 0 0;
            pointer-events: all;

            .qazana-editor-element-settings-list {
                float: $start;
                background-color: $editor-darkest;

                .qazana-editor-element-setting {
                    @media (min-width: $screen-lg-min) {
                        &:not(:last-child) {
                            @include border-end(1px solid $editor-darker);
                        }
                    }

                    > a {
                        &:hover {
                            background-color: $editor-darker;
                        }
                    }
                }
            }

            .qazana-editor-element-trigger {
                &:not(.qazana-active) {
                    ~ .qazana-editor-element-setting {
                        display: none;
                    }
                }

                > a {
                    padding: 8.5px;
                }
                @media(min-width: $screen-lg-min) {
                    > a {
                        cursor: move;

                        &:hover {
                            &:after {
                                content: getValueByDirection('\f105', '\f104');
                                font-family: 'FontAwesome';
                                @include margin-start(5px);
                            }
                        }
                    }

                    &.qazana-active {
                        > a {
                            &:after {
                                content: getValueByDirection('\f105', '\f104');
                                font-family: 'FontAwesome';
                                @include margin-start(5px);
                            }
                        }
                    }
                }
            }
        }

        // Widget - Overlay Settings
        .qazana-editor-widget-settings {
            z-index: $second-layer;
            top: 2px;
            @include end(2px);

            .qazana-editor-element-setting {
                width: 24px;

                &:not(:last-child) {
                    @include padding-end(2px);
                }

                > a {
                    background-color: $editor-info;
                    font-size: 10px;
                    padding: 6px 8px;

                    &:hover {
                        background-color: darken( $editor-info, 10% );
                    }
                }
            }

            .qazana-editor-element-remove {
                .fa {
                    color: #ffffff;
                }

                &:hover {
                    .fa {
                        color: $editor-danger;
                    }
                }
            }

            .qazana-editor-element-edit {
                a {
                    cursor: move;
                }
            }
        }

        .qazana-editor-element-setting {
            &:not(.qazana-editor-element-edit):not(.qazana-editor-element-trigger) {
                @media (max-width: $screen-md-max) {
                    display: none;
                }
            }
        }

        // Section Full (No more columns) - Overlay
        .qazana-section-filled {
            .qazana-editor-column-settings {
                .qazana-editor-element-add,
                .qazana-editor-element-duplicate {
                    display: none;
                }
            }

            .qazana-sortable-placeholder {
                &.qazana-column {
                    display: none;
                }
            }

            .qazana-row {
                &.qazana-draggable-over {
                    border: 1px solid $editor-danger;
                }
            }
        }

        // Row
        .qazana-row {
            min-height: 100px; // Min Height for Section
        }

        // Column
        .qazana-column {
            &.qazana-element-editable,
            &.qazana-section-tools-active {
                > .qazana-element-overlay {
                    border: 1px solid $white;

                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        outline: 1px dashed $gray-darker;
                    }
                }
            }

            &.qazana-dragging-on-child {
                > .qazana-element-overlay {
                    border: 1px solid $editor-info;

                    &:after {
                        display: none;
                    }
                }
            }

            .column-title {
                position: absolute;
                bottom: 100%;
                @include end(0);
                margin-bottom: 5px;
                color: #999;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
                line-height: 1;
                font-size: 12px;
                font-style: italic;
            }

             > .ui-resizable-w,
            > .ui-resizable-e {
                cursor: ew-resize;
                width: 7px;
                position: absolute;
                @include end(-5px);
                top: 0;
                height: 100%;
            }

            &:last-of-type {
                 > .ui-resizable-w,
                > .ui-resizable-e {
                    display: none !important;
                }
            }
            @media (max-width: $screen-md-max) {
                 > .ui-resizable-w,
                > .ui-resizable-e {
                    display: none !important;
                }
            }
        }
    }

    .qazana-inner {

        // Force keeping in top for blank page detection
        &:before {
            content: '';
            display: table;
            clear: both;
        }
    }

    .qazana-column-wrap {
        &.qazana-element-empty {
            .qazana-widget-wrap {
                @media (min-width: $screen-md-min) {
                    padding: 10px;
                }
            }
        }
    }

    .qazana-widget {
        position: relative;

        &.qazana-loading {
            opacity: 0.3;
        }

        &:not(.qazana-loading):not(.qazana-widget-menu-anchor) {
            // Don't apply transition on anchor widget - Safari hack
            transition: all 0.1s;
        }

        &.qazana-element-editable,
        &.qazana-widget-can-edit:hover {
            outline: 1px solid $editor-info;
        }

        &:not(.qazana-element-editable):not(.qazana-widget-settings-active) {
            .qazana-editor-element-settings {
                display: none;
            }
        }
    }

    .qazana-column.qazana-dragging {
        div.qazana-column-wrap {
            min-height: 50px; //FOR EMPTY COLUMN - DON'T REMOVE!
        }
    }

    .handle {
        display: none; //TEMP
    }

    .qazana-sortable-placeholder {
        background: $editor-info;
        transition-timing-function: ease-out;

        &:not(.qazana-column) {
            height: 5px;
        }

        &.qazana-column {
            width: 5px;
        }
    }

    .qazana-sortable-helper {
        position: absolute;
        border-radius: 3px;
        background-color: #fff;
        text-align: center;
        color: $editor-darker;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

        .icon {
            font-size: 28px;
            padding-top: 15px;
            line-height: 1;
        }

        .qazana-element-title-wrapper {
            display: table;
            width: 100%;
        }

        .title {
            font-size: 11px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-style: normal;
            display: table-cell;
            vertical-align: middle;
            height: 40px;
        }
    }

    .qazana-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .qazana-empty-view > .qazana-first-add,
    .qazana-first-add[data-side] {
        &:after {
            content: '';
            height: 4px;
            display: block;
            background-color: $editor-info;
        }

        .qazana-icon {
            display: none;
        }
    }

    .qazana-draggable-over[data-dragged-element="section"][data-dragged-is-inner="true"] {
        .qazana-inner-column {
            .qazana-sortable-placeholder {
                display: none;
            }
        }
    }

    // Add new Section
    #qazana-add-section {
        background-color: rgba(255, 255, 255, .5);
        margin: 60px auto;
        max-width: 1140px;
        position: relative;

        &:not([data-side]) {
            border: 2px dashed $editor-lightest;
        }

        &[data-side] {
            border: 3px dashed $editor-info;
        }
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    #qazana-add-section-inner {
        text-align: center;
        margin-top: 10px;
        padding: 40px 0;
    }

    #qazana-add-new-section {
        display: inline-block; // For smooth dragging above

        .qazana-button {
            color: #fff;
            background-image: none; // Reset for some themes
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-style: normal;
            line-height: 1;
            text-transform: uppercase;
            height: 40px;
            width: 170px;
            padding: 0;
            border: none;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                opacity: 0.85;
                box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
            }

            &:active {
                box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .1);
            }
        }
    }

    #qazana-add-section-button {
        background-color: $editor-accent;
    }

    #qazana-add-template-button {
        background-color: $editor-dark;
        @include margin-start(25px);
    }

    #qazana-add-section-drag-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: normal;
        font-style: italic;
        line-height: 1;
        color: $editor-darker;
        margin-top: 15px;
    }

    #qazana-select-preset-close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 20px;
        cursor: pointer;
        line-height: 1;
        color: $editor-lightest;
    }

    #qazana-select-preset-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        color: $editor-darker;
    }

    #qazana-select-preset-list {
        list-style: none;
        padding: 0 25px;
        margin: 20px auto 0;
        overflow: hidden;
        max-width: 700px;

        .qazana-preset {
            cursor: pointer;
            margin: 0;
            padding: 10px;
            float: $start;

            &:hover {
                path {
                    fill: $editor-dark;
                }
            }

            &:not(:hover) {
                path {
                    fill: $editor-lightest;
                }
            }

            svg {
                height: 50px;
            }
        }
    }
}

// Preview Mode
.qazana-editor-preview {
    #qazana-add-section,
    .qazana-editor-widget-settings,
    .qazana-element-empty,
    .qazana-element-overlay,
    .qazana-empty,
    .qazana-widget-empty,
    .column-title {
        display: none;
    }
}
