//
// Panel Elements
//
#qazana-panel-elements-navigation {

	.qazana-panel-navigation-tab {
		text-align: center;
		padding: 10px 0;
		font-size: 12px;
		letter-spacing: 2px;
		text-transform: uppercase;
		cursor: pointer;
	}
}

#qazana-panel-elements {
    overflow: hidden;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.qazana-element-wrapper {
	float: $start;
	width: 50%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

.qazana-element {
	border-radius: 3px;
	border: 1px solid #dbd2ef;
	background-color: #fff;
	cursor: move;
	transition: all 0.2s ease-in-out;
	background-clip: padding-box;

	&:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,.05), 0 6px 6px rgba(0,0,0,0.04);

		.icon,
		.title {
			color: #9208ff;
		}
	}

	.icon {
		font-size: 28px;
		line-height: 28px;
		padding-top: 15px;
		color: $editor-darker;
	}

	i {
		font-size: 24px;
		line-height: 26px;
		display: inline-block;
	}
	
	.title {
        font-size: 12px;
		color: $editor-darker;
        display: flex;
        height: 40px;
        flex-direction: column;
        padding: 0 8px;
        justify-content: center;
	}
}

#qazana-panel-elements-search-wrapper {
	position: relative;
	margin: 10px 10px 5px;

	i {
		position: absolute;
		@include end(0);
		top: 50%;
		color: $editor-light;
		transform: translateY(-50%);
		transition: $end 1s;
	}
}

#qazana-panel-elements-search-input {
	background-color: rgba(255,255,255,.7);
	font-size: 11px;
	@include padding(10px, 27px, 10px, 10px);
	font-style: italic;
	color: $editor-light;
	border: none;
	transition: all 1s;
	border-radius: 3px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	+ i {
		@include end(10px);
	}

	&:focus {
		background-color: rgba(255,255,255,1);
		@include padding-start(15px);

		+ i {
			@include end(15px);
		}
	}

	&::placeholder {
		color: $editor-light;
	}
}
