//
// Element Edit
//

.qazana-panel-navigation {
	background-color: $white;
	box-shadow: $panel-bottom-shadow;
	display: table;
	table-layout: fixed;
	width: 100%;

	.qazana-panel-navigation-tab {
		display: table-cell;

		&.qazana-active {
			background-image: linear-gradient(to bottom, #f3f3f3, #fff);
			border-bottom: 3px solid $editor-accent;
		}

		a {
			display: block;
			text-align: center;
			padding: 12px 0 8px;
			font-size: 10px;
			color: $editor-dark;

			&:before {
				font-family: FontAwesome;
				font-size: 16px;
				display: block;
				margin-bottom: 6px;
			}
		}
	}
}

.qazana-tab-control-content {
	a:before {
		content: '\f040';
	}
}

.qazana-tab-control-style {
	a:before {
		content: '\f042';
	}
}

.qazana-tab-control-advanced, .qazana-tab-control-settings, .qazana-tab-control-general_style {
	a:before {
		content: '\f013';
	}
}

.qazana-tab-control-responsive {
	a:before {
		content: '\f10a';
	}
}

.qazana-tab-control-layout, .qazana-tab-control-column {
	a:before {
		content: '\f0db';
	}
}

.qazana-tab-control-lightbox {
	a:before {
		content: '\f2d2';
	}
}
