//
// Panel Global
//

.qazana-panel-heading {
	display: table;
	table-layout: fixed;
	height: 40px;
	padding: 0 20px;
	width: 100%;
	border-bottom: 1px solid $editor-background;
	cursor: pointer;

	&:not(.qazana-open) {
		.qazana-panel-heading-toggle {
			.fa {
				&:before {
					content: getValueByDirection('\f0da', '\f0d9');
				}
			}
		}
	}

	&.qazana-open {
		.qazana-panel-heading-toggle {
			.fa {
				&:before {
					content: '\f0d7';
				}
			}
		}
	}

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}

.qazana-panel-heading-toggle {
	width: 20px;
	color: $editor-darkest;
}

.qazana-panel-heading-title {
	color: $editor-darkest;
	font-weight: bold;
}

.qazana-panel-box {
	margin-top: 10px;
	background-color: #fff;
}

.qazana-panel-box-content {
	padding: 20px 20px 10px;
}

.qazana-control-title {
	font-size: 12px;
}

.qazana-button {
	display: inline-block;
}

// select2
.select2-container {
	width: 100% !important;

	&:not(.select2-container--open):not(.select2-container--focus) {
		.select2-selection--multiple,
		.select2-selection--single {
			border-color: $editor-lightest;
		}
	}

	&.select2-container--focus,
	&.select2-container--open {
		.select2-selection--multiple,
		.select2-selection--single {
			border-color: $editor-light;
		}
	}

	&.select2-container--default {
		.select2-selection--multiple {
			.select2-selection__clear {
				display: none;
			}

			.select2-selection__choice {
				line-height: 1.5;
				font-size: 0.9em;
				border: none;
				border-radius: 0;
			}
		}
	}
}

.select2-selection--single {
	height: 27px;
}

.select2-selection__rendered {
	line-height: 27px;
}

.select2-selection__arrow {
	height: 27px;
	top: 0;
}

// Alert
.qazana-panel-alert {
	padding: 15px;
	border-left: 5px solid transparent;
	position: relative;
	font-size: 12px;
	line-height: 1.5;
	text-align: $start;

	&.qazana-panel-alert- {

		&info {
			color: $info-text;
			background-color: $info-bg;
			border-color: $info-border;
		}

		&success {
			color: $success-text;
			background-color: $success-bg;
			border-color: $success-border;
		}

		&warning {
			color: $warning-text;
			background-color: $warning-bg;
			border-color: $warning-border;
		}

		&danger {
			color: $danger-text;
			background-color: $danger-bg;
			border-color: $danger-border;
		}
	}
}

.qazana-label {
	display: inline;
	padding: 0.2em 0.6em 0.3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;
	text-transform: capitalize;

	&.qazana-label-default {
		background-color: $editor-light;
	}

	&.qazana-label-info {
		background-color: $info;
	}

	&.qazana-label-success {
		background-color: $success;
	}

	&.qazana-label-warning {
		background-color: $warning;
	}

	&.qazana-label-danger {
		background-color: $danger;
	}
}

.qazana-descriptor {
	font-size: 11px;
	font-style: italic;
	line-height: 1.4;
	color: $editor-light;
}

.qazana-panel-nerd-box {
	padding: 10px 0 30px;
	text-align: center;

	.qazana-panel-nerd-box-icon {
		font-size: 52px;
		color: #a4afb7;
	}

	.qazana-panel-nerd-box-title {
		margin-top: 20px;
		font-size: 16px;
		font-weight: bold;
	}

	.qazana-panel-nerd-box-message {
		margin-top: 20px;
		line-height: 1.4;
		font-size: 11px;
	}

	.qazana-button.qazana-panel-nerd-box-link {
		background-color: $editor-orange;
		color: #ffffff;
		padding: 7px 25px;
		margin-top: 20px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
		transition: 0.5s;

		&:hover {
			background-color: lighten($editor-orange, 10%);
		}
	}
}

.qazana-controls-popover {
	display: none;
	position: absolute;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: -4px auto 5px;
	padding-top: 15px;
	width: 90%;
	z-index: 1;
	background-color: #fff;

	$triangle-size: 8px;

	&:before {
		content: '';
		position: absolute;
		top: -$triangle-size * 2;
		@include end(22px);
		border: $triangle-size solid transparent;
		border-bottom-color: #fff;
	}

	div.qazana-control { // Harder selector to override default settings
		background-color: transparent; // Makes the popover's border-radius visible

		&:before {
			content: none;
		}
	}
}

#qazana-global-templates,
#qazana-panel-global {
	.qazana-panel-nerd-box {
		padding: 30px 25px;
	}
}
