//
// Panel Global
//

.qazana-panel-heading {
	display: table;
	table-layout: fixed;
	height: 40px;
	padding: 0 20px;
	width: 100%;
	border-bottom: 1px solid $editor-background;
	cursor: pointer;

	&:not(.qazana-open) {
		.qazana-panel-heading-toggle {
			.fa {
				&:before {
					content: getValueByDirection('\f0da', '\f0d9');
				}
			}
		}
	}

	&.qazana-open {
		.qazana-panel-heading-toggle {
			.fa {
				&:before {
					content: '\f0d7';
				}
			}
		}
	}

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}

.qazana-panel-heading-toggle {
	width: 20px;
	color: $editor-darkest;
}

.qazana-panel-heading-title {
	color: $editor-darkest;
	font-weight: bold;
}

.qazana-panel-box {
	margin-top: 10px;
	background-color: #fff;
}

.qazana-panel-box-content {
	padding: 20px 20px 10px;
}

.qazana-control-title {
    font-size: 12px;
    line-height: 1.5;
}

.qazana-button {
	display: inline-block;
}

// Alert
.qazana-panel-alert {
	padding: 15px;
	border-left: 5px solid transparent;
	position: relative;
	font-size: 12px;
	line-height: 1.5;
	text-align: $start;

	a {
		color: inherit;
	}

	&.qazana-panel-alert- {

		&info {
			color: $info-text;
			background-color: $info-bg;
			border-color: $info-border;
		}

		&success {
			color: $success-text;
			background-color: $success-bg;
			border-color: $success-border;
		}

		&warning {
			color: $warning-text;
			background-color: $warning-bg;
			border-color: $warning-border;
		}

		&danger {
			color: $danger-text;
			background-color: $danger-bg;
			border-color: $danger-border;
		}
	}
}

.qazana-label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	text-transform: capitalize;

	&.qazana-label-default {
		background-color: $editor-light;
	}

	&.qazana-label-info {
		background-color: $info;
	}

	&.qazana-label-success {
		background-color: $success;
	}

	&.qazana-label-warning {
		background-color: $warning;
	}

	&.qazana-label-danger {
		background-color: $danger;
	}
}

.qazana-descriptor {
	font-size: 11px;
	font-style: italic;
	line-height: 1.4;
	color: $editor-light;
}

.qazana-controls-popover {
	display: none;
	position: absolute;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: -4px auto 5px;
	padding-top: 15px;
	width: 90%;
	z-index: $super-layer; // Above the select2 select boxes
	background-color: #fff;

	$triangle-size: 8px;

	&:before {
		content: '';
		position: absolute;
		top: -$triangle-size * 2;
		@include end(22px);
		border: $triangle-size solid transparent;
		border-bottom-color: #fff;
	}

	div.qazana-control { // Harder selector to override default settings
		background-color: transparent; // Makes the popover's border-radius visible

		&:before {
			content: none;
		}
	}
}

#qazana-global-templates,
#qazana-panel-global {
	.qazana-nerd-box {
		padding: 30px 25px;
	}
}

// Select2 support
.select2-container {
	width: 100% !important;
}

