//
// Panel Header
//
#qazana-panel-header {
    background-color: #fff;
    color: #555;
}

.qazana-panel-header-tool {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: $editor-light;
    transition: $transition-hover;
    #qazana-panel-header-saver-button-update {
        @include border-end(1px solid #2d8739);
        border-radius: getValueByDirection(3px 0 0 3px, 0 3px 3px 0);
        i {
            @include margin-end(5px);
        }
    }
    #qazana-panel-header-saver-button-save-options {
        float: $start;
        border-radius: getValueByDirection(0 3px 3px 0, 3px 0 0 3px);
        i {
            margin: auto;
        }
    }
    &.qazana-open {
        color: #fff;
    }
    &:not(.qazana-open) {
        &:hover {
            color: $editor-lightest;
        }
        .qazana-panel-header-sub-menu-wrapper {
            display: none;
        }
    }
}

.qazana-panel-header-row {
    width: 100%;
    display: table;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    &.first {
        background-color: #eee;
    }
}

#qazana-panel-header-view-page {
    width: 45px;
    height: 52px;
    border-right: 1px solid #ddd;
    transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
    display: block;
    &:before {
        font: normal 22px/45px dashicons;
        content: '\f335';
        position: relative;
        top: 5px;
        left: 1px;
    }
    &:hover {
        background: #ddd;
        border-color: #ccc;
        color: #000;
        outline: none;
        box-shadow: none;
    }
}

#qazana-panel-header-title {
    font-size: 15px;
    img {
        width: 66px;
    }
}

/*---------------------------*/

/*- CUSOTMIZER MENUS --------*/

#qazana-panel-header-menu {
    width: 48px;
    height: 52px;
    &.qazana-open {
        color: #fff;
    }
    &:not(.qazana-open) {
        &:hover {
            color: $editor-lightest;
        }
        .qazana-panel-header-sub-menu-wrapper {
            display: none;
        }
    }
}

#qazana-panel-header-menu ul.qazana-panel-header-nav {
    display: block;
    margin: 0;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li {
    display: block;
    margin: 0;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav>li>a,
#qazana-panel-header-menu ul.qazana-panel-header-nav>li>span {
    width: 48px;
    height: 52px;
    background: transparent;
    border-right: 1px solid #ddd;
    color: #555;
    text-align: center;
    line-height: 52px;
    transition: background 0.1s ease-in-out;
    position: relative;
    display: block;
    text-indent: initial;
    cursor: pointer;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav>li:hover>a,
#qazana-panel-header-menu ul.qazana-panel-header-nav>li:hover>span {
    background: #fff;
}

/*-----------------------*/

/*- DROP MENU -----------*/

#qazana-panel-header-menu ul.qazana-panel-header-nav li ul {
    position: absolute;
    min-width: 280px;
    margin-left: -48px;
    background: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 6px, 0);
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    a {
        width: auto;
        z-index: 10000;
        font-size: 14px;
        color: #555;
        line-height: 45px;
        display: block;
        text-indent: initial;
        white-space: nowrap;
        text-align: left;
        height: 45px;
    }
    i {
        font-family: dashicons;
        text-decoration: inherit;
        font-weight: 400;
        line-height: inherit;
        vertical-align: middle;
        margin-right: 11px;
        height: auto;
        font-size: 20px;
        position: relative;
        top: -1px;
        width: 22px;
        text-align: center;
        display: inline-block;
        font-style: normal;
    }
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li.qazana-menu-hover ul {
    background: #f5f5f5;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li ul li {
    border-top: 1px solid #eee;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 3px, 0);
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li ul li:first-child {
    border-top-color: #e0e0e0;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li.qazana-menu-hover ul li {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

/*-------------------*/

/*- ITEM ANIMATION --*/

#qazana-panel-header-menu ul.qazana-panel-header-nav li.qazana-menu-hover ul li {
    transition-delay: 0.25s;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li.qazana-menu-hover ul li:nth-child(2) {
    transition-delay: 0.27s;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li.qazana-menu-hover ul li:nth-child(3) {
    transition-delay: 0.29s;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li.qazana-menu-hover ul li:nth-child(4) {
    transition-delay: 0.31s;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li.qazana-menu-hover ul li:nth-child(5) {
    transition-delay: 0.33s;
}

#qazana-panel-header-menu ul.qazana-panel-header-nav li ul a {
    padding: 0 17px 0 14px;
    border: none;
}

.layers-button-icon-dashboard:after {
    font-family: 'layers-interface' !important;
    content: '\e62f' !important;
    font-size: 15px !important;
}

//////////////////////////
//
// Panel header
//
.qazana-panel-header-sub-menu-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #dedede;
    padding: 10px;
    box-shadow: $panel-bottom-shadow;
    cursor: default;
    z-index: $super-layer;
}

.qazana-panel-header-sub-menu-item {
    background-color: #ffffff;
    display: table;
    table-layout: fixed;
    width: 100%;
    cursor: pointer;
    &:not(:last-child) {
        margin-bottom: 1px;
    }
    &[data-device-mode="mobile-landscape"] {
        .fa-mobile {
            transform: rotate(-90deg);
        }
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &.active {
        background-color: rgba(255, 255, 255, 0.3);
    }
    >* {
        display: table-cell;
        height: 40px;
        vertical-align: middle;
    }
    .qazana-icon {
        width: 40px;
        color: #000;
    }
    .qazana-title {
        text-align: $start;
        color: #000;
    }
    .qazana-description {
        width: 95px;
        text-align: $start;
        font-size: 11px;
        font-style: italic;
        color: #000;
    }
}

#qazana-panel-header-saver-publish {
    width: 80px;
    .qazana-button-state {
        i {
            @include margin-end(0);
        }
        #qazana-panel-header-saver-button-publish-label {
            display: none;
        }
    }
}

#qazana-panel-header-saver-save-options {
    width: 35px;
    @include border-start(1px solid white);
    .qazana-last-edited-wrapper {
        font-size: 11px;
        font-style: italic;
        color: $editor-dark;
        padding: 5px 0 15px;
        &:not(.qazana-state-active) {
            .qazana-state-icon {
                display: none;
            }
        }
        time {
            border-bottom: 1px dotted transparent;
            transition: all ease-in-out .3s;
            cursor: pointer;
            &:hover {
                border-bottom-color: inherit;
            }
        }
    }
}

.qazana-saver-disabled {
    cursor: default;
}

#qazana-panel-header-saver- {
    &button- {
        &preview {
            a {
                color: $editor-light;
            }
        }
        &publish,
        &save-options {
            font-size: 11px;
            text-transform: uppercase;
            height: 26px;
            &.qazana-saver-disabled {
                background-color: $editor-darker;
                color: $editor-light;
            }
        }
        &publish {
            width: 100%;
            border-radius: getValueByDirection(3px 0 0 3px, 0 3px 3px 0);
        }
        &save-options {
            width: 25px;
        }
    }
    &menu-save-draft {
        &.qazana-saver-disabled {
            .qazana-icon,
            .qazana-title {
                color: $editor-dark;
            }
        }
    }
}