//
// Panel
//

.qazana-panel-undocked #qazana-preview {
	left: 0 !important;
}

.qazana-panel {
	position: fixed;
	height: 100%;
	top: 0;
	bottom: 0;
	overflow: visible;
	background-color: $editor-background;
	z-index: $first-layer;
	font-size: 13px;

	.qazana-editor-active & {
		@include start(0);
	}

	.qazana-editor-preview & {

		@media (max-width: $editor-screen-lg-max) {
			@include start(-$panel-width);
		}

		@media (min-width: $editor-screen-xl-min) {
			@include start(-$panel-xl-width);
		}

		> .ui-resizable-e, > .ui-resizable-w {
			display: none;
		}
	}

	body.qazana-panel-docked & {
		top: 0;
		@include end(0);
		height: 100%;
	}

	body:not(.qazana-panel-docked) & {
		border-radius: 5px;
	}

	@media (max-width: $editor-screen-lg-max) {
		width: $panel-width;
	}

	@media (min-width: $editor-screen-xl-min) {
		width: $panel-xl-width;
	}

	.ps-scrollbar-y-rail {
		z-index: 2; // Avoid panel elements (like divider control) from appearing above the scrollbar
	}

	@import "reset";

	// Global
	@import "global";

    // Header
    @import "header";

    // Elements
    @import "elements";

    // Categories
    @import "categories";

    // Schemes
    @import "schemes";

	// Menu
	@import "menu";

	// Document Settings
	@import "document-settings";

	// Element Edit
    @import "element-settings";

    //Footer
    @import "footer";
}

#qazana-panel-inner {
	position: relative;
	height: 100%;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

// Main Panel
#qazana-panel-content-wrapper {
	position: absolute;
	bottom: 40px;
	top: 95px;
	left: 0;
	width: 100%;
}

.qazana-panel-container {
	clear: both;
	padding-left: 15px;
	padding-right: 15px;
}

// WP Media Modal Compatibility
.media-modal.wp-core-ui {

	input {
		width: auto;
	}

	fieldset {
		padding: 0;
		border: 0;
	}

	.wp-clearfix::after {
		content: '';
		display: table;
		clear: both;
	}
}

// Document Conditions
@import "document-conditions";
