// Button

.qazana-button {
    display: inline-block;

    .qazana-inline-content {
        border: none;
        background-color: $gray;
        color: #ffffff;
        text-align: center;
        line-height: 1;
        transition: $transition-hover;
    }

    &.qazana-size- {
        &xs .qazana-inline-content {
            padding: 10px 20px;
            font-size: 13px;
        }

        &sm .qazana-inline-content {
            padding: 12px 24px;
            font-size: 15px;
        }

        &md .qazana-inline-content {
            padding: 15px 30px;
            font-size: 16px;
        }

        &lg .qazana-inline-content {
            padding: 20px 40px;
            font-size: 18px;
        }

        &xl .qazana-inline-content {
            padding: 25px 50px;
            font-size: 20px;
        }
    }

}

.qazana-widget {
    &.qazana-button- {
        &info .qazana-inline-content {
            border-color: $info;
            background-color: $info;
        }

        &success .qazana-inline-content {
            border-color: $success;
            background-color: $success;
        }

        &warning .qazana-inline-content {
            border-color: $warning;
            background-color: $warning;
        }

        &danger .qazana-inline-content {
            border-color: $danger;
            background-color: $danger;
        }

        &clear .qazana-inline-content {
            padding: 0;
            border: none;
            background-color: transparent;
            color: inherit;
            opacity: 1;
        }
    }
}

// Icon Hover
.qazana-icon-hover-reveal-yes {
    .qazana-button {
        transition: all .5s cubic-bezier(.3, .95, .3, .95);
    }

    .qazana-inline-icon {
        overflow: hidden;
        max-width: 0;
        transition: all .5s cubic-bezier(.3, .95, .3, .95);
    }

    .qazana-button:hover,
    button:hover {

        &.qazana-align-icon-right .qazana-inline-icon {
            margin-left: 10px;
        }

        &.qazana-align-icon-left .qazana-inline-icon {
            margin-right: 10px;
        }
    }
}