//
// Counter
//

.qazana-counter {
	.qazana-counter- {
		&number- {
			&wrapper {
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 69px;
				font-weight: 600;
				color: #222;
				line-height: 1;
			}

			&prefix {
				flex-grow: 1;
				text-align: $end;
			}

			&suffix {
				flex-grow: 1;
				text-align: $start;
			}
		}

		&title {
			text-align: center;
			font-size: 19px;
			font-weight: 400;
			color: #666666;
			line-height: 2.5;
		}
	}
}
