//
// Heading
//
.qazana-widget-heading {
    .qazana-heading-title {
        &.qazana-size- {
            &small {
                font-size: 15px;
            }
            &medium {
                font-size: 19px;
            }
            &large {
                font-size: 29px;
            }
            &xl {
                font-size: 39px;
            }
            &xxl {
                font-size: 59px;
            }
        }
    }
}