//
// Image
//
.qazana-widget-image {
	text-align: center;

	.qazana-image {

		> a,
		figure > a {
			display: block; // For alignment image with link
		}

		img {
			vertical-align: middle;
			display: inline-block;
		}

		&.qazana-image-shape- {

			&circle {
				border-radius: 50%;
			}
		}
	}
}
