//
// Image
//

.builder-widget-image {
	.builder-image {
		> a,
		figure > a {
			display: block; // For alignment image with link
		}

		img {
			vertical-align: middle;
			display: block;
		}

		&.builder-image-shape- {
			&circle {
				border-radius: 50%;
			}
		}
	}
}
