//

// Image

//

.builder-widget-image {
  .builder-image {
    > a,
    figure > a {
      display : block;
      // For alignment image with link
    }

    img {
      display        : inline-block;
      vertical-align : middle;
    }

    &.builder-image-shape- {
      &circle {
        border-radius : 50%;
      }
    }
  }
}
