//
// Video
//
.qazana-video-wrapper {
    position: relative;
    &.qazana-aspect-ratio- {
        &169 {
            padding-bottom: 56.25%;
        }
        &43 {
            padding-bottom: 75%;
        }
        &32 {
            padding-bottom: 66.6666%;
        }
    }
    .qazana-custom-embed-image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
        &:hover {
            .qazana-custom-embed-play {
                i {
                    opacity: 0.9;
                    text-shadow: 3px 2px 30px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
    .qazana-image-background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .qazana-custom-embed-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
    }
}

.qazana-video-popup-image {
    text-align: center;
}