//
// Video
//
.qazana-widget-video {

	.qazana-widget-container {
		overflow: hidden;
		transform: translate3d(0, 0, 0); // Allow border-radius in Safari
	}

	.qazana-open-inline {

		.qazana-custom-embed-image-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: 50%;
		}
	}

	.qazana-custom-embed-image-overlay {
		cursor: pointer;
		text-align: center;

		&:hover {

			.qazana-custom-embed-play {

				i {
					opacity: 1;
				}
			}
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.qazana-video {
		object-fit: cover;
	}
}
.qazana-video-popup-image {
    text-align: center;
}