//
// Accordion
//
$direction: ltr;

@import 'helpers/variables';
@import "helpers/mixins";
@import "helpers/direction";

.qazana-accordion {
	text-align: $start;

	.qazana-accordion-item {
		border: 1px solid $gray-light;

		+ .qazana-accordion-item {
			border-top: none;
		}
	}

	.qazana-tab-title {
		padding: 15px 20px;
		font-weight: bold;
		line-height: 1;
		cursor: pointer;

		.qazana-accordion-icon {
			display: inline-block;
			width: 1.5em;

			&.qazana-accordion-icon- {

				&right {
					float: right;
					text-align: right;
				}

				&left {
					float: left;
					text-align: left;
				}
			}
		}
	}

	.qazana-tab-content {
	    display: none;
		padding: 15px 20px;
		border-top: 1px solid $gray-light;
	}
}

// Responsive mode
@media (max-width: $screen-sm-max) {

	.qazana-accordion {

		.qazana-tab-title {
			padding: 12px 15px;

			.qazana-accordion-icon {
				width: 1.2em;
			}
		}

		.qazana-tab-content {
			padding: 7px 15px;
		}
	}
}
