.slick-slideshow-large-container-smalls,
.slick-slideshow-photo-gallery-container-smalls {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    margin-top: -1px;

    img {
        border: 2px solid transparent;
        line-height: 1;
        display: block;
    }

    &.is-visible {
        opacity: 1;
    }

    a.next,
    a.prev {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 30px;
        height: 50px;
        z-index: 3;
        color: #fff;
        transition: background-color 0.3s;
        margin-top: -25px;

        i {
            display: block;
            height: 50px;
            line-height: 50px;
            font-size: 10px;
        }
    }

    a.next:hover,
    a.prev:hover {
        background: #000;
    }

    a.next.is-disabled,
    a.prev.is-disabled {
        color: #555;
        cursor: default;

        i {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    a.prev {
        left: 0;
    }

    a.next {
        right: 0;
    }

    .slick-slide {
        cursor: pointer;
        position: relative;
    }

    .slick-slide.is-selected {
        &:before {
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: 24px;
            line-height: 24px;

            color: white;
            content: '\e901';
            position: absolute;
            right: 50%;
            bottom: 50%;
            margin-right: -12px;
            margin-bottom: -12px;
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, .1);
        }

        img {
            border-color: #ffd800;
        }
    }

    .slick-slide span {
        display: block;
    }
}
