.slick-slideshow-photo-gallery-container-biggie {
    img {
        border: 0;
        line-height: 1;
        display: block;
    }

    .entry-page article .wrapper-inner header .entry-title {
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: normal;
        letter-spacing: 1;
    }

    .entry-page article .wrapper-inner .entry-header {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }
}
