
#qazana-extensions-manager {
	max-width: 500px;
	margin-top: 50px;
	
	h3 {
		color: $editor-dark;
		font-weight: normal;
		font-size: 22px;
	}

	.qazana-settings-form-page {
		padding: 0;
	}
	
	.qazana-extension-row {
		background: #ffffff;
		color: $editor-dark;
		margin-bottom: 2px;

		.qazana-extension-label {
			display: flex;
			padding: 15px 20px;
			font-weight: 500;
			cursor: pointer;

			span.qazana-extension-name {
				@include padding-end(20px);
			}

			span.qazana-extension-toggle {
				text-align: $end;
				flex-grow: 1;
			}

			span.qazana-extension-active-indicator {
				color: $editor-light;
			}
		}

		.qazana-extension-controls {
			background-color: $gray-lightest;
			padding: 20px 20px 5px;

			> div {
				margin-bottom: 15px;
			}
		}
	}
}

