
//Qazana Feedback

@keyframes qazana-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

#qazana-deactivate-feedback-dialog-wrapper {
	display: none;
}

#qazana-deactivate-feedback-modal {

	.dialog-widget-content {
		width: 550px;
	}

	.dialog-close-button {
		transition: $transition-hover;
	}

	.dialog-header {
		padding: 18px 15px;
		box-shadow: $panel-bottom-shadow;
		text-align: $start;
	}

	.dialog-message {
		padding: 30px 30px 0;
		text-align: $start;
	}

	.qazana-deactivate-feedback-dialog-input {
		float: $start;
		@include margin(0, 15px, 0, 0);
		box-shadow: none;

		&:not(:checked) {

			~ .qazana-feedback-text {
				display: none;
			}
		}
	}

	.qazana-deactivate-feedback-dialog-label {
		display: block;
		font-size: 13px;
		color: $editor-dark;
	}

	.qazana-feedback-text {
		@include margin(10px, 0, 0, 30px);
		padding: 5px;
		font-size: 13px;
		box-shadow: none;
		background-color: #fff;
		width: 92%;
	}

	.dialog-buttons-wrapper {
		border-top: none;
		text-align: $start;
		padding: 20px 30px 30px;
		overflow: hidden;
	}

	.dialog-submit {
		background-color: $editor-accent;
		border-radius: 3px;
		color: #fff;
		line-height: 1;
		padding: 12px 20px;
		font-size: 13px;
		width: 180px;
		height: 38px;

		&.qazana-loading {

			&:before {
				display: inline-block;
				content: '\f463';
				font: 18px dashicons;
				animation: qazana-rotation 2s infinite linear;
			}
		}
	}

	.dialog-skip {
		font-size: 12px;
		color: $editor-light;
		background: none;
		float: $end;
		width: auto;
	}

	&[data-feedback-selected="qazana_pro"] {

		.qazana-feedback-text {
			color: $editor-warning;
			padding: 0;
		}

		.dialog-submit {
			display: none;
		}
	}
}

#qazana-deactivate-feedback-dialog-header {

	i {
		color: $editor-accent;
		font-size: 19px;
	}
}

#qazana-deactivate-feedback-dialog-header-title {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	@include padding-start(5px);
}

#qazana-deactivate-feedback-dialog-form-caption {
	font-weight: bold;
	font-size: 15px;
	color: $editor-darkest;
	line-height: 1.4;
}

#qazana-deactivate-feedback-dialog-form-body {
	padding-top: 30px;
}

.qazana-deactivate-feedback-dialog-input-wrapper {
	line-height: 1.3;
	overflow: hidden;
	margin-bottom: 15px;
}
