#qazana-hidden-area {
	display: none;
}

#qazana-import-template-trigger {
	cursor: pointer;
}

#qazana-import-template-area {
	display: none;
	margin: 50px 0 30px;
	text-align: center;
}

#qazana-import-template-form {
	display: inline-block;
	margin-top: 30px;
	padding: 30px 50px;
	background-color: #FFFFFF;
	border: 1px solid #e5e5e5;
}

#qazana-import-template-title {
	font-size: 18px;
	color: #555d66;
}