.qazana-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.qazana-clearfix:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0; }

.dialog-widget-content {
  background-color: #fff;
  position: absolute;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.dialog-message {
  font-size: 12px;
  line-height: 1.5; }

.dialog-type-lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100010;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .dialog-type-lightbox .dialog-widget-content {
    margin: auto;
    width: 375px; }
  .dialog-type-lightbox .dialog-header {
    padding: 20px 0;
    font-weight: 500; }
  .dialog-type-lightbox .dialog-message {
    padding: 0 20px 20px;
    min-height: 50px; }
  .dialog-type-lightbox .dialog-header, .dialog-type-lightbox .dialog-message {
    text-align: center; }
  .dialog-type-lightbox .dialog-buttons-wrapper {
    border-top: 1px solid #EBEBEB;
    text-align: center; }
    .dialog-type-lightbox .dialog-buttons-wrapper > button {
      border: none;
      background: none;
      font-size: 15px;
      cursor: pointer;
      padding: 13px 0;
      outline: 0; }
      .dialog-type-lightbox .dialog-buttons-wrapper > button:first-child {
        color: #444; }
      .dialog-type-lightbox .dialog-buttons-wrapper > button.dialog-ok {
        color: #b01b1b; }
      .dialog-type-lightbox .dialog-buttons-wrapper > button.dialog-take_over {
        color: #39b54a; }
      .dialog-type-lightbox .dialog-buttons-wrapper > button:active {
        background-color: rgba(235, 235, 235, 0.5); }
      .dialog-type-lightbox .dialog-buttons-wrapper > button::-moz-focus-inner {
        border: 0; }

.dialog-close-button {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 15px; }
  .dialog-close-button:not(:hover) {
    opacity: .4; }

.dialog-lightbox-widget .dialog-header,
.dialog-confirm-widget .dialog-header {
  font-size: 15px;
  color: #161616; }

.dialog-lightbox-widget .dialog-buttons-wrapper > button,
.dialog-confirm-widget .dialog-buttons-wrapper > button {
  width: 50%; }
  .dialog-lightbox-widget .dialog-buttons-wrapper > button:first-child,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:first-child {
    border-right: 1px solid #EBEBEB; }
  .dialog-lightbox-widget .dialog-buttons-wrapper > button:hover,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:hover {
    background-color: #f8f8f8; }

.dialog-alert-widget .dialog-buttons-wrapper > button {
  width: 100%; }

@media (max-width: 767px) {
  .dialog-close-button {
    top: 15px;
    right: 15px; }
  body.admin-bar .dialog-close-button {
    top: 40px; } }

.qazana-hidden {
  display: none; }

.flatpickr-calendar {
  width: 280px; }
  .flatpickr-calendar .flatpickr-current-month span.cur-month {
    font-weight: 300; }
  .flatpickr-calendar .dayContainer {
    width: 280px;
    min-width: 280px;
    max-width: 280px; }
  .flatpickr-calendar .flatpickr-days {
    width: 280px; }
  .flatpickr-calendar .flatpickr-day {
    max-width: 37px;
    height: 37px;
    line-height: 37px; }

.qazana-button {
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition-property: background, color, opacity, -webkit-box-shadow;
  transition-property: background, color, opacity, -webkit-box-shadow;
  -o-transition-property: background, color, box-shadow, opacity;
  transition-property: background, color, box-shadow, opacity;
  transition-property: background, color, box-shadow, opacity, -webkit-box-shadow;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s; }
  .qazana-button:hover {
    border: none; }
  .qazana-button:not([disabled]) {
    cursor: pointer; }
  .qazana-button:not(.qazana-button-state) .qazana-state-icon {
    display: none; }
  .qazana-button.qazana-button-success {
    color: #fff; }
    .qazana-button.qazana-button-success[disabled] {
      background-color: #A7A7AA; }
    .qazana-button.qazana-button-success:not([disabled]) {
      background-color: #39b54a; }
      .qazana-button.qazana-button-success:not([disabled]):hover {
        opacity: 0.85;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
      .qazana-button.qazana-button-success:not([disabled]):active {
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1); }
  .qazana-button.qazana-button-warning {
    background-color: #a0a5aa;
    color: #fff; }
    .qazana-button.qazana-button-warning[disabled] {
      background-color: #A7A7AA; }
    .qazana-button.qazana-button-warning:not([disabled]):hover {
      background-color: #b01b1b;
      opacity: 0.85;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
    .qazana-button.qazana-button-warning:not([disabled]):active {
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1); }
  .qazana-button.qazana-edit-template {
    display: inline-block;
    margin-top: 15px;
    color: #fff; }
  .qazana-button.qazana-button-default {
    background-color: #a0a5aa;
    color: #fff;
    font-size: 11px;
    padding: 6.5px 15px; }
    .qazana-button.qazana-button-default:hover {
      background-color: #444;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
    .qazana-button.qazana-button-default:active {
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1); }
    .qazana-button.qazana-button-default:visited {
      color: #fff; }
  .qazana-button.button-hero {
    font-size: 12px;
    background: #360061;
    border-color: #000000 #1a002e #1a002e;
    -webkit-box-shadow: 0 1px 0 #1a002e;
            box-shadow: 0 1px 0 #1a002e;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #1a002e, 1px 0 1px #1a002e, 0 1px 1px #1a002e, -1px 0 1px #1a002e;
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
    .qazana-button.button-hero.hover, .qazana-button.button-hero:hover, .qazana-button.button-hero.focus, .qazana-button.button-hero:focus {
      background: #000;
      border-color: #000;
      color: #fff; }
    .qazana-button.button-hero.focus, .qazana-button.button-hero:focus {
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }

.qazana-templates-modal .dialog-widget-content {
  background-color: #f1f3f5;
  width: 100%; }
  @media (max-width: 1439px) {
    .qazana-templates-modal .dialog-widget-content {
      max-width: 990px; } }
  @media (min-width: 1440px) {
    .qazana-templates-modal .dialog-widget-content {
      max-width: 1200px; } }

.qazana-templates-modal .dialog-header {
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; }

.qazana-templates-modal .dialog-buttons-wrapper {
  display: none; }

.qazana-templates-modal .dialog-message {
  height: 750px;
  max-height: 85vh;
  overflow: auto;
  padding: 25px 30px 30px; }

.qazana-templates-modal .dialog-content {
  height: 100%; }

.qazana-templates-modal .dialog-loading {
  display: none; }

.qazana-templates-modal__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px; }
  .qazana-templates-modal__header__logo {
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    color: #161616;
    font-weight: bold;
    cursor: pointer; }
    .qazana-templates-modal__header__logo-area {
      text-align: left;
      padding-left: 15px; }
      .qazana-templates-modal__header__logo-area > * {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
    .qazana-templates-modal__header__logo__icon-wrapper {
      padding: 4px 7px 6px;
      background-image: -webkit-linear-gradient(225deg, #f2295b, #434363);
      background-image: -o-linear-gradient(225deg, #f2295b, #434363);
      background-image: linear-gradient(-135deg, #f2295b, #434363);
      -webkit-border-radius: 2px;
              border-radius: 2px;
      margin-right: 10px; }
    .qazana-templates-modal__header__logo i {
      color: #fff;
      font-size: 10px; }
  .qazana-templates-modal__header__items-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .qazana-templates-modal__header__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    .qazana-templates-modal__header__item > i {
      font-size: 20px;
      -webkit-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      cursor: pointer; }
      .qazana-templates-modal__header__item > i:not(:hover) {
        color: #a0a5aa; }
  .qazana-templates-modal__header__close--normal {
    width: 45px;
    border-left: 1px solid #EBEBEB; }
    .qazana-templates-modal__header__close--normal i {
      font-size: 18px; }
  .qazana-templates-modal__header__close--skip {
    padding: 10px;
    padding-left: 20px;
    margin-right: 10px;
    color: #fff;
    background-color: #a0a5aa;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    cursor: pointer; }
    .qazana-templates-modal__header__close--skip > i {
      font-size: inherit;
      padding-left: 10px;
      margin-left: 15px;
      border-left: 1px solid; }
      .qazana-templates-modal__header__close--skip > i:not(:hover) {
        color: #fff; }

#adminmenu #toplevel_page_qazana div.wp-menu-image:before,
#adminmenu #toplevel_page_edit-post_type-qazana_library div.wp-menu-image:before {
  content: "\e801";
  font-family: eicons;
  font-size: 18px;
  margin-top: 1px; }

#adminmenu #toplevel_page_qazana a[href="admin.php?page=go_qazana_pro"],
#adminmenu #toplevel_page_edit-post_type-qazana_library a[href="admin.php?page=go_qazana_pro"] {
  color: #d54e21; }

#adminmenu #toplevel_page_qazana .dashicons.dashicons-star-filled,
#adminmenu #toplevel_page_edit-post_type-qazana_library .dashicons.dashicons-star-filled {
  height: auto; }

.qazana-plugins-gopro {
  color: #39b54a;
  font-weight: bold; }

#qazana-switch-mode {
  margin: 15px 0; }

#qazana-switch-mode-button,
#qazana-editor-button {
  outline: none;
  cursor: pointer; }
  #qazana-switch-mode-button i,
  #qazana-editor-button i {
    margin-right: 3px;
    font-size: 19px; }

body.qazana-editor-active .qazana-switch-mode-off {
  display: none; }

body.qazana-editor-active #qazana-switch-mode-button {
  background-color: #f7f7f7;
  color: #555;
  border-color: #ccc;
  -webkit-box-shadow: 0 1px 0 #ccc !important;
          box-shadow: 0 1px 0 #ccc !important;
  text-shadow: unset; }
  body.qazana-editor-active #qazana-switch-mode-button:hover {
    background-color: #e9e9e9; }
  body.qazana-editor-active #qazana-switch-mode-button:active {
    -webkit-box-shadow: inset 0 1px 0 #ccc;
            box-shadow: inset 0 1px 0 #ccc;
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px); }

body.qazana-editor-active #qazana-editor {
  display: table; }

body.qazana-editor-active #postdivrich {
  display: none !important; }

body.qazana-editor-active .editor-block-list__layout {
  display: none; }

body.qazana-editor-inactive .qazana-switch-mode-on {
  display: none; }

body.qazana-editor-inactive #qazana-editor {
  display: none; }

body.qazana-editor-active .editor-block-list__layout {
  display: none; }

body.qazana-editor-active .edit-post-layout__content .edit-post-visual-editor {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }

body.qazana-editor-active #qazana-editor {
  margin-bottom: 50px; }

body.qazana-editor-active .edit-post-text-editor__body .editor-post-text-editor {
  display: none; }

body .gutenberg #qazana-switch-mode {
  margin: 0 15px; }
  body .gutenberg #qazana-switch-mode .button {
    height: 33px;
    line-height: 32px; }
    body .gutenberg #qazana-switch-mode .button i {
      font-size: 125%;
      padding-right: 5px; }

.qazana-button {
  font-size: 13px;
  text-decoration: none;
  padding: 15px 40px; }

#qazana-editor {
  background-color: #F7F7F7;
  border: 1px solid #DDD;
  height: 300px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #qazana-editor:hover {
    background-color: #ffffff; }
  #qazana-editor .qazana-loader .cubes {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 5rem;
    height: 5rem;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    z-index: 1; }
    #qazana-editor .qazana-loader .cubes .cube {
      width: 33.3333%;
      height: 33.3333%;
      background-color: white;
      -webkit-animation: cubes 1.5s infinite ease-in-out;
              animation: cubes 1.5s infinite ease-in-out; }
      #qazana-editor .qazana-loader .cubes .cube-1 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      #qazana-editor .qazana-loader .cubes .cube-2 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      #qazana-editor .qazana-loader .cubes .cube-3 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      #qazana-editor .qazana-loader .cubes .cube-4 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      #qazana-editor .qazana-loader .cubes .cube-5 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      #qazana-editor .qazana-loader .cubes .cube-6 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      #qazana-editor .qazana-loader .cubes .cube-7 {
        -webkit-animation-delay: 0s;
                animation-delay: 0s; }
      #qazana-editor .qazana-loader .cubes .cube-8 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      #qazana-editor .qazana-loader .cubes .cube-9 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }

@-webkit-keyframes cubes {
  0%,
  100%,
  70% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  35% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }

@keyframes cubes {
  0%,
  100%,
  70% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  35% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }
  #qazana-editor .qazana-loading-title {
    -webkit-animation: load-title 1.5s linear infinite;
            animation: load-title 1.5s linear infinite; }

@-webkit-keyframes load-title {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes load-title {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
  #qazana-editor .qazana-loader-box {
    background-color: #a0a5aa; }

#qazana-go-to-edit-page-link {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none; }
  #qazana-go-to-edit-page-link.qazana-animate #qazana-editor-button {
    display: none; }
  #qazana-go-to-edit-page-link:not(.qazana-animate) .qazana-loader-wrapper {
    display: none; }

.qazana-loader-wrapper {
  margin: auto;
  width: 80px; }

.qazana-loader {
  height: 80px;
  position: relative; }

.qazana-loading-title {
  color: #a0a5aa;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 11px;
  letter-spacing: 5px; }

.qazana-button-spinner:before {
  font: normal 20px/.5 dashicons;
  speak: none;
  display: inline-block;
  padding: 0;
  top: 8px;
  left: -4px;
  position: relative;
  vertical-align: top;
  content: "\f463"; }

.qazana-button-spinner.loading:before {
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear; }

.qazana-button-spinner.success:before {
  content: "\f147";
  color: #46b450; }

.qazana-blank_state {
  padding: 5em 0;
  margin: auto;
  max-width: 520px;
  text-align: center;
  color: #444; }
  .qazana-blank_state i {
    font-size: 50px;
    color: #a0a5aa; }
  .qazana-blank_state h2 {
    font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: inherit;
    margin: 50px 0 35px;
    line-height: 1.2; }
  .qazana-blank_state p {
    font-size: 16px;
    font-weight: normal;
    color: #a0a5aa;
    margin-bottom: 40px; }
  .qazana-blank_state .qazana-button {
    display: inline-block; }

#available-widgets [class*="qazana-template"] .widget-title:before {
  content: "\e801";
  font-family: eicons;
  font-size: 17px; }

.qazana-settings-form-page {
  padding-top: 30px; }
  .qazana-settings-form-page:not(.qazana-active) {
    display: none; }

._qazana_settings_update_time {
  display: none; }

/*= Qazana Message
---------------------------------------*/
.notice.qazana-message {
  border: none;
  padding: 20px; }
  .notice.qazana-message .qazana-message-inner {
    display: table;
    width: 100%; }
    .notice.qazana-message .qazana-message-inner .qazana-message-icon,
    .notice.qazana-message .qazana-message-inner .qazana-message-content,
    .notice.qazana-message .qazana-message-inner .qazana-message-action {
      display: table-cell;
      vertical-align: middle; }
  .notice.qazana-message .qazana-message-icon {
    font-size: 20px;
    width: 40px; }
  .notice.qazana-message .qazana-message-content {
    padding: 0 20px; }
  .notice.qazana-message p {
    padding: 0;
    margin: 0; }
  .notice.qazana-message h3 {
    margin: 0 0 5px; }
  .notice.qazana-message .qazana-message-action {
    text-align: right; }
    .notice.qazana-message .qazana-message-action .qazana-button {
      background-color: #0085ba;
      color: #fff;
      border-color: #7c1337;
      -webkit-box-shadow: 0 1px 0 #7c1337;
              box-shadow: 0 1px 0 #7c1337;
      padding: 5px 30px;
      height: auto;
      line-height: 20px;
      text-transform: capitalize; }
      .notice.qazana-message .qazana-message-action .qazana-button i {
        padding-right: 5px; }
      .notice.qazana-message .qazana-message-action .qazana-button:hover {
        background-color: #a0124a; }
      .notice.qazana-message .qazana-message-action .qazana-button:active {
        -webkit-box-shadow: inset 0 1px 0 #7c1337;
                box-shadow: inset 0 1px 0 #7c1337;
        -webkit-transform: translateY(1px);
            -ms-transform: translateY(1px);
                transform: translateY(1px); }
  .notice.qazana-message .qazana-message-actions {
    margin-top: 10px; }
    .notice.qazana-message .qazana-message-actions .button.button-primary {
      margin-right: 5px; }

@media (min-width: 1200px) {
  .qazana-message-action {
    padding-right: 10px; } }

@media (max-width: 600px) {
  .notice.qazana-message {
    padding: 20px; }
    .notice.qazana-message .qazana-message-inner {
      display: block;
      text-align: center; }
      .notice.qazana-message .qazana-message-inner .qazana-message-icon,
      .notice.qazana-message .qazana-message-inner .qazana-message-content,
      .notice.qazana-message .qazana-message-inner .qazana-message-action {
        display: block; }
      .notice.qazana-message .qazana-message-inner .qazana-message-action {
        text-align: center; }
      .notice.qazana-message .qazana-message-inner .qazana-message-icon {
        width: auto; }
      .notice.qazana-message .qazana-message-inner .qazana-message-content {
        padding: 10px 0; } }

/*= Qazana System Info
---------------------------------------*/
#qazana-system-info {
  padding: 15px; }
  #qazana-system-info .qazana-system-info-section {
    margin-bottom: 10px; }
    #qazana-system-info .qazana-system-info-section > .qazana-system-info-report-name {
      padding-left: 10px;
      border-bottom: 1px solid #e1e1e1; }
    #qazana-system-info .qazana-system-info-section .widefat {
      white-space: pre; }
  #qazana-system-info .qazana-system-info-report-name {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    line-height: 2; }
  #qazana-system-info .qazana-system-info-report-row {
    overflow: hidden;
    padding: 5px 0; }
    #qazana-system-info .qazana-system-info-report-row > * {
      float: left; }
  #qazana-system-info .qazana-system-info-report-field, #qazana-system-info .qazana-system-info-field-recommendation {
    padding-left: 10px;
    color: #7F7F7F; }
  #qazana-system-info .qazana-system-info-report-fields {
    padding-left: 20px; }
  #qazana-system-info .qazana-system-info-plugin-name {
    color: #000; }
  #qazana-system-info .qazana-system-info-plugin-properties {
    padding: 10px; }
  #qazana-system-info #qazana-system-info-raw-code {
    width: 100%;
    height: 200px; }
  #qazana-system-info #qazana-system-info-raw-code-label {
    padding: 5px;
    display: block; }
  #qazana-system-info .qazana-warning td:first-child {
    border-left: 3px solid #fcb92c; }

@-webkit-keyframes qazana-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes qazana-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

#qazana-deactivate-feedback-dialog-wrapper {
  display: none; }

#qazana-deactivate-feedback-modal .dialog-widget-content {
  width: 550px; }

#qazana-deactivate-feedback-modal .dialog-close-button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

#qazana-deactivate-feedback-modal .dialog-header {
  padding: 18px 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: left; }

#qazana-deactivate-feedback-modal .dialog-message {
  padding: 30px 30px 0;
  text-align: left; }

#qazana-deactivate-feedback-modal .qazana-deactivate-feedback-dialog-input {
  float: left;
  margin: 0 15px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  #qazana-deactivate-feedback-modal .qazana-deactivate-feedback-dialog-input:not(:checked) ~ .qazana-feedback-text {
    display: none; }

#qazana-deactivate-feedback-modal .qazana-deactivate-feedback-dialog-label {
  display: block;
  font-size: 13px;
  color: #444; }

#qazana-deactivate-feedback-modal .qazana-feedback-text {
  margin: 10px 0 0 30px;
  padding: 5px;
  font-size: 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  width: 92%; }

#qazana-deactivate-feedback-modal .dialog-buttons-wrapper {
  border-top: none;
  text-align: left;
  padding: 20px 30px 30px;
  overflow: hidden; }

#qazana-deactivate-feedback-modal .dialog-submit {
  background-color: #0085ba;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  line-height: 1;
  padding: 12px 20px;
  font-size: 13px;
  width: 180px;
  height: 38px; }
  #qazana-deactivate-feedback-modal .dialog-submit.qazana-loading:before {
    display: inline-block;
    content: '\f463';
    font: 18px dashicons;
    -webkit-animation: qazana-rotation 2s infinite linear;
            animation: qazana-rotation 2s infinite linear; }

#qazana-deactivate-feedback-modal .dialog-skip {
  font-size: 12px;
  color: #a0a5aa;
  background: none;
  float: right;
  width: auto; }

#qazana-deactivate-feedback-modal[data-feedback-selected="qazana_pro"] .qazana-feedback-text {
  color: #b01b1b;
  padding: 0; }

#qazana-deactivate-feedback-modal[data-feedback-selected="qazana_pro"] .dialog-submit {
  display: none; }

#qazana-deactivate-feedback-dialog-header i {
  color: #0085ba;
  font-size: 19px; }

#qazana-deactivate-feedback-dialog-header-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px; }

#qazana-deactivate-feedback-dialog-form-caption {
  font-weight: bold;
  font-size: 15px;
  color: #161616;
  line-height: 1.4; }

#qazana-deactivate-feedback-dialog-form-body {
  padding-top: 30px; }

.qazana-deactivate-feedback-dialog-input-wrapper {
  line-height: 1.3;
  overflow: hidden;
  margin-bottom: 15px; }

#qazana-hidden-area {
  display: none; }

#qazana-import-template-trigger {
  cursor: pointer; }

#qazana-import-template-area {
  display: none;
  margin: 50px 0 30px;
  text-align: center; }

#qazana-import-template-form {
  display: inline-block;
  margin-top: 30px;
  padding: 30px 50px;
  background-color: #FFFFFF;
  border: 1px solid #e5e5e5; }

#qazana-import-template-title {
  font-size: 18px;
  color: #555d66; }

.form-table:not(.qazana-maintenance-mode-is-enabled) .qazana-default-hide {
  display: none; }

.qazana-maintenance-mode-error {
  color: red;
  line-height: 1.6;
  display: none; }

#e-dashboard-overview .dashicons {
  vertical-align: middle;
  font-size: 17px; }

#e-dashboard-overview .e-overview__header {
  display: table;
  width: 100%;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
  margin: 0 -12px 8px;
  padding: 0 12px 12px; }

#e-dashboard-overview .e-overview__logo, #e-dashboard-overview .e-overview__versions, #e-dashboard-overview .e-overview__create {
  display: table-cell;
  vertical-align: middle; }

#e-dashboard-overview .e-overview__logo {
  width: 30px; }

#e-dashboard-overview .e-overview__versions {
  padding: 0 10px;
  font-size: 0.9em;
  line-height: 1.5; }

#e-dashboard-overview .e-overview__version {
  display: block; }

#e-dashboard-overview .e-overview__create {
  text-align: right; }

#e-dashboard-overview .e-overview__post {
  margin-top: 10px; }

#e-dashboard-overview .e-overview__post-link {
  display: inline-block; }

#e-dashboard-overview .e-overview__badge {
  background: #39b54a;
  color: white;
  font-size: 0.75em;
  padding: 3px 6px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-transform: uppercase; }

#e-dashboard-overview .e-overview__post-description {
  margin: 0 0 1.5em; }

#e-dashboard-overview .e-overview__recently-edited li {
  color: #72777c; }

#e-dashboard-overview .e-overview__feed {
  font-size: 14px;
  font-weight: 500; }
  #e-dashboard-overview .e-overview__feed .e-overview__post-link {
    padding-bottom: 5px; }

#e-dashboard-overview .e-overview__recently-edited .e-overview__heading, #e-dashboard-overview .e-overview__feed .e-overview__heading {
  font-weight: 700;
  border-bottom: 1px solid #eee;
  margin: 0 -12px;
  padding: 6px 12px; }

#e-dashboard-overview .e-overview__footer {
  margin: 0 -12px -12px;
  padding: 12px;
  border-top: 1px solid #eee; }
  #e-dashboard-overview .e-overview__footer ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    #e-dashboard-overview .e-overview__footer ul li {
      padding: 0 10px;
      margin: 0;
      border-left: 1px solid #ddd; }
      #e-dashboard-overview .e-overview__footer ul li:first-child {
        padding-left: 0;
        border: none; }

#e-dashboard-overview .e-overview__go-pro a {
  color: #fcb92c;
  font-weight: 500; }

.post-type-qazana_library #qazana-template-library-tabs-wrapper {
  padding-top: 2em;
  margin-bottom: 2em; }

#qazana-new-template-modal .dialog-message {
  max-height: 70vh; }

#qazana-new-template-dialog-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: left;
  padding: 0 120px;
  color: #444; }

#qazana-new-template__description {
  width: 35%;
  max-width: 300px;
  padding-right: 100px; }
  #qazana-new-template__description__title {
    font-size: 30px;
    color: #1a0316; }
    #qazana-new-template__description__title span {
      font-weight: bold; }
  #qazana-new-template__description__content {
    font-size: 14px;
    padding: 30px 0; }

#qazana-new-template__take_a_tour {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px; }
  #qazana-new-template__take_a_tour i {
    color: #f2295b;
    font-size: 30px; }
  #qazana-new-template__take_a_tour a {
    color: #444;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 500; }

#qazana-new-template__form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 440px;
  padding: 55px;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08); }
  #qazana-new-template__form__title {
    font-size: 23px;
    color: #1a0316; }
  #qazana-new-template__form .qazana-form-field__label {
    display: block;
    margin: 25px 0 7px;
    font-size: 14px;
    line-height: 1; }
  #qazana-new-template__form .qazana-form-field input,
  #qazana-new-template__form .qazana-form-field select {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: none;
    color: #161616;
    border: 1px solid;
    outline: none; }
    #qazana-new-template__form .qazana-form-field input:not(:focus),
    #qazana-new-template__form .qazana-form-field select:not(:focus) {
      border-color: #ddd; }
    #qazana-new-template__form .qazana-form-field input:focus,
    #qazana-new-template__form .qazana-form-field select:focus {
      border-color: #a0a5aa; }
  #qazana-new-template__form .qazana-form-field__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; }
    #qazana-new-template__form .qazana-form-field__select__wrapper {
      position: relative; }
      #qazana-new-template__form .qazana-form-field__select__wrapper:after {
        font-family: eicons;
        content: '\e955';
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
  #qazana-new-template__form__submit {
    width: 100%;
    height: 50px;
    margin-top: 25px; }

@media (max-width: 1024px) {
  #qazana-new-template__description {
    max-width: 250px;
    padding-right: 30px; } }

@media (max-width: 767px) {
  #qazana-new-template__description {
    display: none; } }

#qazana-role-manager {
  max-width: 500px;
  margin-top: 50px; }
  #qazana-role-manager h3 {
    color: #444;
    font-weight: normal;
    font-size: 22px; }
  #qazana-role-manager .qazana-settings-form-page {
    padding: 0; }
  #qazana-role-manager .qazana-role-row {
    background: #ffffff;
    color: #444;
    margin-bottom: 2px; }
    #qazana-role-manager .qazana-role-row .qazana-role-label {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 15px 20px;
      font-weight: 500;
      cursor: pointer; }
      #qazana-role-manager .qazana-role-row .qazana-role-label span.qazana-role-name {
        padding-right: 20px; }
      #qazana-role-manager .qazana-role-row .qazana-role-label span.qazana-role-toggle {
        text-align: right;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      #qazana-role-manager .qazana-role-row .qazana-role-label span.qazana-role-excluded-indicator {
        color: #a0a5aa; }
    #qazana-role-manager .qazana-role-row .qazana-role-controls {
      background-color: #f7f7f7;
      padding: 20px 20px 5px; }
      #qazana-role-manager .qazana-role-row .qazana-role-controls > div {
        margin-bottom: 15px; }

#qazana-extensions-manager {
  max-width: 500px;
  margin-top: 50px; }
  #qazana-extensions-manager h3 {
    color: #444;
    font-weight: normal;
    font-size: 22px; }
  #qazana-extensions-manager .qazana-settings-form-page {
    padding: 0; }
  #qazana-extensions-manager .qazana-extension-row {
    background: #ffffff;
    color: #444;
    margin-bottom: 2px; }
    #qazana-extensions-manager .qazana-extension-row .qazana-extension-label {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 15px 20px;
      font-weight: 500;
      cursor: pointer; }
      #qazana-extensions-manager .qazana-extension-row .qazana-extension-label span.qazana-extension-name {
        padding-right: 20px; }
      #qazana-extensions-manager .qazana-extension-row .qazana-extension-label span.qazana-extension-toggle {
        text-align: right;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      #qazana-extensions-manager .qazana-extension-row .qazana-extension-label span.qazana-extension-active-indicator {
        color: #a0a5aa; }
      #qazana-extensions-manager .qazana-extension-row .qazana-extension-label > label {
        margin-left: auto; }
    #qazana-extensions-manager .qazana-extension-row .qazana-extension-widgets {
      margin-top: 8px;
      margin-left: 24px;
      font-size: 12px;
      color: #909090; }
    #qazana-extensions-manager .qazana-extension-row .qazana-extension-widget-label {
      display: block; }
    #qazana-extensions-manager .qazana-extension-row .qazana-extension-controls {
      background-color: #f7f7f7;
      padding: 20px 20px 5px; }
      #qazana-extensions-manager .qazana-extension-row .qazana-extension-controls > div {
        margin-bottom: 15px; }
/*# sourceMappingURL=admin.css.map */