.dialog-widget {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin-top: 15px;
  overflow: hidden; }

.dialog-widget-content {
  position: absolute;
  border-radius: 3px;
  -webkit-box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2); }

.dialog-widget-header, .dialog-message {
  text-align: center; }

.dialog-message {
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff; }

.dialog-buttons-wrapper {
  border-top: 1px solid #EBEBEB;
  text-align: center;
  background-color: #fff; }
  .dialog-buttons-wrapper > button {
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    padding: 13px 0;
    outline: 0; }
    .dialog-buttons-wrapper > button:first-child {
      color: #444; }
    .dialog-buttons-wrapper > button.dialog-cancel {
      background-color: #fff; }
    .dialog-buttons-wrapper > button.dialog-ok {
      color: #b01b1b;
      background-color: #fff; }
    .dialog-buttons-wrapper > button.dialog-take_over {
      color: #39b54a; }
    .dialog-buttons-wrapper > button:active {
      background-color: rgba(235, 235, 235, 0.5); }
    .dialog-buttons-wrapper > button::-moz-focus-inner {
      border: 0; }

.dialog-widget-header {
  padding: 20px 0;
  font-weight: 500; }

.dialog-options-widget .dialog-widget-header,
.dialog-confirm-widget .dialog-widget-header {
  font-size: 15px;
  color: #b01b1b;
  font-weight: bold;
  border-top: 3px solid #b01b1b;
  padding-bottom: 30px;
  padding-top: 50px;
  background-color: #fff; }
  .dialog-options-widget .dialog-widget-header:after,
  .dialog-confirm-widget .dialog-widget-header:after {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: -30px;
    left: 50%;
    background-color: #b01b1b;
    content: '\f00d';
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin-left: -30px; }
.dialog-options-widget .dialog-buttons-wrapper > button,
.dialog-confirm-widget .dialog-buttons-wrapper > button {
  width: 50%; }
  .dialog-options-widget .dialog-buttons-wrapper > button:first-child,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:first-child {
    border-left: 1px solid #EBEBEB; }
  .dialog-options-widget .dialog-buttons-wrapper > button:hover,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:hover {
    background-color: #f8f8f8; }

.dialog-options-widget, .dialog-confirm-widget, .dialog-alert-widget {
  -webkit-user-select: none;
  -moz-user-select: none; }
  .dialog-options-widget .dialog-widget-content, .dialog-confirm-widget .dialog-widget-content, .dialog-alert-widget .dialog-widget-content {
    margin: auto;
    width: 350px; }
  .dialog-options-widget .dialog-message, .dialog-confirm-widget .dialog-message, .dialog-alert-widget .dialog-message {
    padding: 0 20px;
    min-height: 50px;
    padding-bottom: 30px; }

.dialog-alert-widget .dialog-buttons-wrapper > button {
  width: 100%; }

.dialog-popup-message {
  height: 155px;
  width: 155px;
  background-color: #fff;
  border-radius: 3px; }

.qazana-dialog-message {
  padding: 15px; }
  .qazana-dialog-message .fa {
    font-size: 50px;
    padding: 10px; }

.qazana-dialog-message-text {
  text-transform: uppercase; }

.dialog-qazana-modal-close-button {
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 16px;
  color: #a0a5aa; }

body.qazana-editor-active .qazana-switch-mode-off {
  display: none; }
body.qazana-editor-active #qazana-switch-mode-button {
  background-color: #f7f7f7;
  color: #555;
  border-color: #ccc;
  -webkit-box-shadow: 0 1px 0 #ccc !important;
          box-shadow: 0 1px 0 #ccc !important;
  text-shadow: unset; }
  body.qazana-editor-active #qazana-switch-mode-button:hover {
    background-color: #e9e9e9; }
  body.qazana-editor-active #qazana-switch-mode-button:active {
    -webkit-box-shadow: inset 0 1px 0 #ccc;
            box-shadow: inset 0 1px 0 #ccc;
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px); }
body.qazana-editor-active #qazana-editor {
  display: table; }
body.qazana-editor-active #postdivrich {
  display: none !important; }
body.qazana-editor-inactive .qazana-switch-mode-on {
  display: none; }
body.qazana-editor-inactive #qazana-editor {
  display: none; }

#qazana-editor-button,
.qazana-editor-inactive #qazana-switch-mode-button {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
          box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799; }
  #qazana-editor-button:active,
  .qazana-editor-inactive #qazana-switch-mode-button:active {
    background: #0073aa;
    border-color: #006799;
    -webkit-box-shadow: inset 0 2px 0 #006799;
            box-shadow: inset 0 2px 0 #006799;
    vertical-align: top; }
  #qazana-editor-button:hover,
  .qazana-editor-inactive #qazana-switch-mode-button:hover {
    -webkit-box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
            box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db; }
  #qazana-editor-button:focus,
  .qazana-editor-inactive #qazana-switch-mode-button:focus {
    -webkit-box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
            box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db; }

#adminmenu #toplevel_page_qazana div.wp-menu-image:before {
  background-image: url("../images/logo-small-light.png");
  background-repeat: no-repeat;
  content: " ";
  -webkit-background-size: 15px 15px;
          background-size: 15px;
  background-position: 4px 4px; }

#qazana-switch-mode {
  margin: 15px 0; }

.qazana-button {
  padding: 12.5px 25px;
  display: inline-block;
  line-height: 1;
  border: 1px solid;
  border-radius: 3px;
  outline: none;
  cursor: pointer; }
  .qazana-button .eicon-qazana {
    margin-left: 5px; }

#qazana-editor {
  background-color: #F7F7F7;
  border: 1px solid #DDD;
  height: 300px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #qazana-editor:hover {
    background-color: #ffffff; }
  #qazana-editor .qazana-loader .cubes {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 5rem;
    height: 5rem;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    z-index: 1; }
    #qazana-editor .qazana-loader .cubes .cube {
      width: 33.3333%;
      height: 33.3333%;
      background-color: white;
      -webkit-animation: cubes 1.5s infinite ease-in-out;
              animation: cubes 1.5s infinite ease-in-out; }
      #qazana-editor .qazana-loader .cubes .cube-1 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      #qazana-editor .qazana-loader .cubes .cube-2 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      #qazana-editor .qazana-loader .cubes .cube-3 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      #qazana-editor .qazana-loader .cubes .cube-4 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      #qazana-editor .qazana-loader .cubes .cube-5 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      #qazana-editor .qazana-loader .cubes .cube-6 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      #qazana-editor .qazana-loader .cubes .cube-7 {
        -webkit-animation-delay: 0s;
                animation-delay: 0s; }
      #qazana-editor .qazana-loader .cubes .cube-8 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      #qazana-editor .qazana-loader .cubes .cube-9 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
@-webkit-keyframes cubes {
  0%,
	100%,
	70% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  35% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }
@keyframes cubes {
  0%,
	100%,
	70% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  35% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }
  #qazana-editor .qazana-loading-title {
    -webkit-animation: load-title 1.5s linear infinite;
            animation: load-title 1.5s linear infinite; }
@-webkit-keyframes load-title {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
@keyframes load-title {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
  #qazana-editor .qazana-loader-box {
    background-color: #a0a5aa; }

#qazana-go-to-edit-page-link {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none; }
  #qazana-go-to-edit-page-link.qazana-animate #qazana-editor-button {
    display: none; }
  #qazana-go-to-edit-page-link:not(.qazana-animate) .qazana-loader-wrapper {
    display: none; }

.qazana-loader-wrapper {
  margin: auto;
  width: 80px; }

.qazana-loader {
  height: 80px;
  position: relative; }

.qazana-loading-title {
  color: #a0a5aa;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 11px;
  letter-spacing: 5px; }

button.qazana-button-spinner:before {
  font: normal 20px/.5 dashicons;
  speak: none;
  display: inline-block;
  padding: 0;
  top: 8px;
  right: -4px;
  position: relative;
  vertical-align: top;
  content: "\f463"; }
button.qazana-button-spinner.loading:before {
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear; }
button.qazana-button-spinner.success:before {
  content: "\f147";
  color: #46b450; }

#available-widgets [class*="qazana-template"] .widget-title:before {
  content: "\e801";
  font-family: eicon;
  font-size: 17px; }

.qazana-settings-form-page {
  padding-top: 30px; }
  .qazana-settings-form-page:not(.qazana-active) {
    display: none; }

._qazana_settings_update_time {
  display: none; }

/*= Qazana Message
---------------------------------------*/
.notice.qazana-message {
  border-right-color: #0085ba !important;
  padding: 20px; }
  .notice.qazana-message .qazana-message-inner {
    display: table;
    width: 100%; }
    .notice.qazana-message .qazana-message-inner .qazana-message-icon,
    .notice.qazana-message .qazana-message-inner .qazana-message-content,
    .notice.qazana-message .qazana-message-inner .qazana-update-now {
      display: table-cell;
      vertical-align: middle; }
  .notice.qazana-message .qazana-message-icon {
    color: #0085ba;
    font-size: 50px;
    width: 50px; }
  .notice.qazana-message .qazana-message-content {
    padding: 0 20px; }
  .notice.qazana-message p {
    padding: 0;
    margin: 0; }
  .notice.qazana-message h3 {
    margin: 0 0 5px; }
  .notice.qazana-message .qazana-update-now {
    text-align: center; }
    .notice.qazana-message .qazana-update-now .qazana-button {
      background-color: #0085ba;
      color: #fff;
      border-color: #7c1337;
      -webkit-box-shadow: 0 1px 0 #7c1337;
              box-shadow: 0 1px 0 #7c1337;
      padding: 5px 30px;
      height: auto;
      line-height: 20px;
      text-transform: capitalize; }
      .notice.qazana-message .qazana-update-now .qazana-button i {
        padding-left: 5px; }
      .notice.qazana-message .qazana-update-now .qazana-button:hover {
        background-color: #a0124a; }
      .notice.qazana-message .qazana-update-now .qazana-button:active {
        -webkit-box-shadow: inset 0 1px 0 #7c1337;
                box-shadow: inset 0 1px 0 #7c1337;
        -webkit-transform: translateY(1px);
            -ms-transform: translateY(1px);
                transform: translateY(1px); }

@media (max-width: 767px) {
  .notice.qazana-message {
    padding: 10px; }
    .notice.qazana-message .qazana-message-inner {
      display: block; }
      .notice.qazana-message .qazana-message-inner .qazana-message-content {
        display: block;
        padding: 0; }
      .notice.qazana-message .qazana-message-inner .qazana-message-icon,
      .notice.qazana-message .qazana-message-inner .qazana-update-now {
        display: none; } }
/*= Qazana System Info
---------------------------------------*/
#qazana-system-info {
  padding: 15px; }
  #qazana-system-info .qazana-system-info-section {
    margin-bottom: 10px; }
    #qazana-system-info .qazana-system-info-section > .qazana-system-info-report-name {
      padding-left: 10px;
      border-bottom: 1px solid #e1e1e1; }
  #qazana-system-info .qazana-system-info-report-name {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    line-height: 2; }
  #qazana-system-info .qazana-system-info-report-row {
    overflow: hidden;
    padding: 5px 0; }
    #qazana-system-info .qazana-system-info-report-row > * {
      float: left; }
  #qazana-system-info .qazana-system-info-report-field, #qazana-system-info .qazana-system-info-field-recommendation {
    padding-left: 10px;
    color: #7F7F7F; }
  #qazana-system-info .qazana-system-info-report-fields {
    padding-left: 20px; }
  #qazana-system-info .qazana-system-info-plugin-name {
    color: #000; }
  #qazana-system-info .qazana-system-info-plugin-properties {
    padding: 10px; }
  #qazana-system-info #qazana-system-info-raw-code {
    width: 100%;
    height: 200px; }
  #qazana-system-info #qazana-system-info-raw-code-label {
    padding: 5px;
    display: block; }

/*= Qazana Feedback
---------------------------------------*/
@-webkit-keyframes qazana-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }
@keyframes qazana-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }
#qazana-deactivate-feedback-dialog-wrapper {
  display: none; }

#qazana-deactivate-feedback-modal .dialog-widget-content {
  width: 550px;
  background-color: white; }
#qazana-deactivate-feedback-modal .dialog-close-button i:before {
  content: '\f335';
  font: 20px dashicons; }
#qazana-deactivate-feedback-modal .dialog-widget-header {
  padding: 18px 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  background-color: purple;
  color: white; }
#qazana-deactivate-feedback-modal .dialog-qazana-modal-close-button {
  color: white; }
#qazana-deactivate-feedback-modal .dialog-message {
  padding: 30px 30px 0;
  text-align: right; }
#qazana-deactivate-feedback-modal .qazana-deactivate-feedback-dialog-input {
  float: right;
  margin: 0 0 0 15px;
  -webkit-box-shadow: none;
          box-shadow: none; }
  #qazana-deactivate-feedback-modal .qazana-deactivate-feedback-dialog-input:not(:checked) ~ .qazana-feedback-text {
    display: none; }
#qazana-deactivate-feedback-modal .qazana-deactivate-feedback-dialog-label {
  display: block;
  font-size: 13px;
  color: #444; }
#qazana-deactivate-feedback-modal .qazana-feedback-text {
  margin: 10px 30px 0 0;
  padding: 5px;
  font-size: 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  width: 92%; }
#qazana-deactivate-feedback-modal .dialog-buttons-wrapper {
  border-top: none;
  text-align: right;
  padding: 20px 30px 30px; }
#qazana-deactivate-feedback-modal .dialog-submit {
  background-color: #0085ba;
  border-radius: 3px;
  color: #fff;
  line-height: 1;
  padding: 12px 20px;
  font-size: 14px;
  width: 180px;
  height: 38px; }
  #qazana-deactivate-feedback-modal .dialog-submit.qazana-loading:before {
    display: inline-block;
    content: '\f463';
    font: 18px dashicons;
    -webkit-animation: qazana-rotation 2s infinite linear;
            animation: qazana-rotation 2s infinite linear; }
#qazana-deactivate-feedback-modal .dialog-skip {
  font-size: 12px;
  color: #a0a5aa;
  background: none;
  float: left; }

#qazana-deactivate-feedback-dialog-header i {
  color: #0085ba;
  font-size: 19px; }

#qazana-deactivate-feedback-dialog-header-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 5px; }

#qazana-deactivate-feedback-dialog-form-caption {
  font-weight: bold;
  font-size: 15px;
  color: #23282d;
  line-height: 1.4; }

#qazana-deactivate-feedback-dialog-form-body {
  padding-top: 30px; }

.qazana-deactivate-feedback-dialog-input-wrapper {
  line-height: 1.3;
  overflow: hidden;
  margin-bottom: 15px; }

#qazana-hidden-area {
  display: none; }

#qazana-import-template-trigger {
  cursor: pointer; }

#qazana-import-template-area {
  display: none;
  margin: 50px 0 30px;
  text-align: center; }

#qazana-import-template-form {
  display: inline-block;
  margin-top: 30px;
  padding: 30px 50px;
  background-color: #FFFFFF;
  border: 1px solid #e5e5e5; }

#qazana-import-template-title {
  font-size: 18px;
  color: #555d66; }

.qazana-shortcode-input {
  min-width: 215px; }

#available-widgets [class*="qazana-template"] .widget-title:before {
  content: "\e801";
  font-family: eicon;
  font-size: 17px; }

#qazana-widget-template-empty-templates {
  margin-top: 15px;
  text-align: center; }

.qazana-widget-template-empty-templates-title {
  padding: 25px 0 30px; }

.qazana-widget-template-empty-templates-icon {
  font-size: 96px;
  color: #d5dadf; }

.qazana-widget-template-empty-templates-footer {
  color: #a4afb7;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 15px; }

.qazana-widget-template-empty-templates-footer a {
  color: #a4afb7; }

/*# sourceMappingURL=admin-rtl.css.map */