@charset "UTF-8";
body.builder-editor-active.layout-section .entry-content {
  overflow: visible; }
body.builder-editor-active .article {
  overflow: visible; }
body.builder-editor-active .builder-element-overlay .builder-editor-element-settings-list {
  clear: unset; }

#builder .builder-editor-element-settings-list {
  word-break: normal; }
#builder .gallery {
  opacity: 1; }

html.builder-html {
  margin-top: 0 !important; }

#builder {
  position: relative; }

.builder-editor-active .builder.builder-edit-mode .builder-element-empty .builder-sortable-placeholder {
  display: none; }
.builder-editor-active .builder.builder-edit-mode .builder-empty-view {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 80; }
.builder-editor-active .builder.builder-edit-mode .builder-first-add {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed #d5dadf; }
  .builder-editor-active .builder.builder-edit-mode .builder-first-add .builder-icon {
    font-size: 19px;
    color: #a0a5aa;
    cursor: pointer; }
.builder-editor-active .builder.builder-edit-mode .builder-element {
            /* &:not(:hover) {
                &:not(.builder-element-editable) {
                    > .builder-element-overlay {
                        .builder-editor-element-settings-list {
                            display: none;
                        }
                    }
                }

                &:not(.ui-resizable-resizing) {
                    > .builder-element-overlay {
                        .column-title {
                            display: none;
                        }
                    }
                }
            }

            @media (max-width: $screen-md-max) {
                > .builder-element-overlay {
                    .column-title {
                        display: none;
                    }
                }
            } */ }
  .builder-editor-active .builder.builder-edit-mode .builder-element > .builder-element-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    letter-spacing: 0;
    z-index: 999;
    pointer-events: none; }
  .builder-editor-active .builder.builder-edit-mode .builder-element.builder-widget-empty {
    height: 50px;
    background: #ffffff; }
    .builder-editor-active .builder.builder-edit-mode .builder-element.builder-widget-empty:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(235, 235, 235, 0.8); }
    .builder-editor-active .builder.builder-edit-mode .builder-element.builder-widget-empty .builder-widget-empty-icon {
      position: absolute;
      height: 25px;
      width: 25px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      color: #818a91;
      font-size: 22px; }
  .builder-editor-active .builder.builder-edit-mode .builder-element > .builder-element-overlay .builder-editor-element-settings-list,
  .builder-editor-active .builder.builder-edit-mode .builder-element > .builder-element-overlay .column-title {
    display: none; }
  .builder-editor-active .builder.builder-edit-mode .builder-element.builder-section-tools-active > .builder-element-overlay .builder-editor-element-settings-list,
  .builder-editor-active .builder.builder-edit-mode .builder-element.builder-section-tools-active > .builder-element-overlay .column-title {
    display: block; }
  .builder-editor-active .builder.builder-edit-mode .builder-element.builder-section-tools-active:not(.builder-element-editable) > .builder-element-overlay .builder-editor-element-settings-list {
    display: block; }
  .builder-editor-active .builder.builder-edit-mode .builder-element.builder-section-tools-active:not(.ui-resizable-resizing) > .builder-element-overlay .column-title {
    display: block; }
  .builder-editor-active .builder.builder-edit-mode .builder-element[data-side] {
    -webkit-animation: increase-border 0.6s;
            animation: increase-border 0.6s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  .builder-editor-active .builder.builder-edit-mode .builder-element[data-side="bottom"] + .builder-element, .builder-editor-active .builder.builder-edit-mode .builder-element[data-side="top"] {
    border-top: 4px solid #008EFF; }
  .builder-editor-active .builder.builder-edit-mode .builder-element[data-side="bottom"]:last-child {
    border-bottom: 4px solid #008EFF; }
@media (min-width: 768px) {
  .builder-editor-active .builder.builder-edit-mode .builder-section:not(.builder-section-height-full) .builder-column-wrap.builder-element-empty,
  .builder-editor-active .builder.builder-edit-mode .builder-section:not(.builder-section-height-full) .builder-column-wrap.builder-element-empty .builder-widget-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; } }
.builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings {
  position: absolute;
  overflow: hidden; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-settings-list {
    display: table;
    table-layout: fixed;
    height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1; }
    .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-settings-list.builder-editor-section-settings-list {
      background-color: #a0a5aa; }
      @media (min-width: 1025px) {
        .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-settings-list.builder-editor-section-settings-list .builder-editor-element-setting:not(:last-child) {
          border-left: 1px solid #A7A7AA; } }
      .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-settings-list.builder-editor-section-settings-list .builder-editor-element-setting.builder-editor-element-trigger:not(.builder-active) {
        border: none; }
      .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-settings-list.builder-editor-section-settings-list .builder-editor-element-setting > a:hover {
        background-color: #A7A7AA; }
    .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-settings-list .fa {
      color: #ffffff; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-setting {
    display: table-cell;
    vertical-align: middle;
    width: 35px;
    text-align: center;
    padding: 0;
    margin: 0; }
    .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-setting > a {
      padding: 8.5px 0;
      display: inline-block;
      width: 100%;
      font-size: 11px;
      line-height: 1;
      color: #fff; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-element-settings .builder-editor-element-remove .fa {
    color: #000; }
.builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings {
  right: -1px;
  z-index: 80;
  bottom: 100%;
  margin-bottom: 1px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  border-radius: 3px 3px 0 0;
  pointer-events: all; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-settings-list {
    float: right;
    background-color: #23282d; }
    @media (min-width: 1025px) {
      .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-settings-list .builder-editor-element-setting:not(:last-child) {
        border-left: 1px solid #2d2d2d; } }
    .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-settings-list .builder-editor-element-setting > a:hover {
      background-color: #2d2d2d; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-trigger:not(.builder-active) ~ .builder-editor-element-setting {
    display: none; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-trigger > a {
    padding: 8.5px; }
  @media (min-width: 1025px) {
    .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-trigger > a {
      cursor: move; }
      .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-trigger > a:hover:after {
        content: "";
        font-family: 'FontAwesome';
        margin-right: 5px; }
    .builder-editor-active .builder.builder-edit-mode .builder-editor-column-settings .builder-editor-element-trigger.builder-active > a:after {
      content: "";
      font-family: 'FontAwesome';
      margin-right: 5px; } }
.builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings {
  z-index: 90;
  top: 2px;
  left: 2px; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings .builder-editor-element-setting {
    width: 24px; }
    .builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings .builder-editor-element-setting:not(:last-child) {
      padding-left: 2px; }
    .builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings .builder-editor-element-setting > a {
      background-color: #008EFF;
      font-size: 10px;
      padding: 6px 8px; }
      .builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings .builder-editor-element-setting > a:hover {
        background-color: #0072cc; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings .builder-editor-element-remove .fa {
    color: #ffffff; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings .builder-editor-element-remove:hover .fa {
    color: #000; }
  .builder-editor-active .builder.builder-edit-mode .builder-editor-widget-settings .builder-editor-element-edit a {
    cursor: move; }
@media (max-width: 1024px) {
  .builder-editor-active .builder.builder-edit-mode .builder-editor-element-setting:not(.builder-editor-element-edit):not(.builder-editor-element-trigger) {
    display: none; } }
.builder-editor-active .builder.builder-edit-mode .builder-section-filled .builder-editor-column-settings .builder-editor-element-add,
.builder-editor-active .builder.builder-edit-mode .builder-section-filled .builder-editor-column-settings .builder-editor-element-duplicate {
  display: none; }
.builder-editor-active .builder.builder-edit-mode .builder-section-filled .builder-sortable-placeholder.builder-column {
  display: none; }
.builder-editor-active .builder.builder-edit-mode .builder-section-filled .builder-row.builder-draggable-over {
  border: 1px solid #000; }
.builder-editor-active .builder.builder-edit-mode .builder-row {
  min-height: 100px; }
.builder-editor-active .builder.builder-edit-mode .builder-column.builder-element-editable > .builder-element-overlay, .builder-editor-active .builder.builder-edit-mode .builder-column.builder-section-tools-active > .builder-element-overlay {
  border: 1px solid #ffffff; }
  .builder-editor-active .builder.builder-edit-mode .builder-column.builder-element-editable > .builder-element-overlay:after, .builder-editor-active .builder.builder-edit-mode .builder-column.builder-section-tools-active > .builder-element-overlay:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    outline: 1px dashed #373a3c; }
.builder-editor-active .builder.builder-edit-mode .builder-column.builder-dragging-on-child > .builder-element-overlay {
  border: 1px solid #008EFF; }
  .builder-editor-active .builder.builder-edit-mode .builder-column.builder-dragging-on-child > .builder-element-overlay:after {
    display: none; }
.builder-editor-active .builder.builder-edit-mode .builder-column .column-title {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 5px;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 12px;
  font-style: italic; }
.builder-editor-active .builder.builder-edit-mode .builder-column > .ui-resizable-w,
.builder-editor-active .builder.builder-edit-mode .builder-column > .ui-resizable-e {
  cursor: ew-resize;
  width: 7px;
  position: absolute;
  left: -5px;
  top: 0;
  height: 100%; }
.builder-editor-active .builder.builder-edit-mode .builder-column:last-of-type > .ui-resizable-w,
.builder-editor-active .builder.builder-edit-mode .builder-column:last-of-type > .ui-resizable-e {
  display: none !important; }
@media (max-width: 1024px) {
  .builder-editor-active .builder.builder-edit-mode .builder-column > .ui-resizable-w,
  .builder-editor-active .builder.builder-edit-mode .builder-column > .ui-resizable-e {
    display: none !important; } }
.builder-editor-active .builder-inner:before {
  content: '';
  display: table;
  clear: both; }
@media (min-width: 768px) {
  .builder-editor-active .builder-column-wrap.builder-element-empty .builder-widget-wrap {
    padding: 10px; } }
.builder-editor-active .builder-widget {
  position: relative; }
  .builder-editor-active .builder-widget.builder-loading {
    opacity: 0.3; }
  .builder-editor-active .builder-widget:not(.builder-loading):not(.builder-widget-menu-anchor) {
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
  .builder-editor-active .builder-widget.builder-element-editable, .builder-editor-active .builder-widget.builder-widget-can-edit:hover {
    outline: 1px solid #008EFF; }
  .builder-editor-active .builder-widget:not(.builder-element-editable):not(.builder-widget-settings-active) .builder-editor-element-settings {
    display: none; }
.builder-editor-active .builder-column.builder-dragging div.builder-column-wrap {
  min-height: 50px; }
.builder-editor-active .handle {
  display: none; }
.builder-editor-active .builder-sortable-placeholder {
  background: #008EFF;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }
  .builder-editor-active .builder-sortable-placeholder:not(.builder-column) {
    height: 5px; }
  .builder-editor-active .builder-sortable-placeholder.builder-column {
    width: 5px; }
.builder-editor-active .builder-sortable-helper {
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  color: #2d2d2d;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  .builder-editor-active .builder-sortable-helper .icon {
    font-size: 28px;
    padding-top: 15px;
    line-height: 1; }
  .builder-editor-active .builder-sortable-helper .builder-element-title-wrapper {
    display: table;
    width: 100%; }
  .builder-editor-active .builder-sortable-helper .title {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    height: 40px; }
.builder-editor-active .builder-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .builder-empty-view > .builder-first-add:after,
.builder-editor-active .builder-first-add[data-side]:after {
  content: '';
  height: 4px;
  display: block;
  background-color: #008EFF; }
.builder-editor-active .builder-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .builder-empty-view > .builder-first-add .builder-icon,
.builder-editor-active .builder-first-add[data-side] .builder-icon {
  display: none; }
.builder-editor-active .builder-draggable-over[data-dragged-element="section"][data-dragged-is-inner="true"] .builder-inner-column .builder-sortable-placeholder {
  display: none; }
.builder-editor-active #builder-add-section {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 60px auto;
  max-width: 1140px;
  position: relative; }
  .builder-editor-active #builder-add-section:not([data-side]) {
    border: 2px dashed #ddd; }
  .builder-editor-active #builder-add-section[data-side] {
    border: 3px dashed #008EFF; }
  @media (max-width: 479px) {
    .builder-editor-active #builder-add-section {
      display: none; } }
.builder-editor-active #builder-add-section-inner {
  text-align: center;
  margin-top: 10px;
  padding: 40px 0; }
.builder-editor-active #builder-add-new-section {
  display: inline-block; }
  .builder-editor-active #builder-add-new-section .builder-button {
    color: #fff;
    background-image: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    height: 40px;
    width: 170px;
    padding: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer; }
    .builder-editor-active #builder-add-new-section .builder-button:hover {
      opacity: 0.85;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
    .builder-editor-active #builder-add-new-section .builder-button:active {
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1); }
.builder-editor-active #builder-add-section-button {
  background-color: #0085ba; }
.builder-editor-active #builder-add-template-button {
  background-color: #444;
  margin-right: 25px; }
.builder-editor-active #builder-add-section-drag-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  color: #2d2d2d;
  margin-top: 15px; }
.builder-editor-active #builder-select-preset-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  color: #ddd; }
.builder-editor-active #builder-select-preset-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #2d2d2d; }
.builder-editor-active #builder-select-preset-list {
  list-style: none;
  padding: 0 25px;
  margin: 20px auto 0;
  overflow: hidden;
  max-width: 700px; }
  .builder-editor-active #builder-select-preset-list .builder-preset {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    float: right; }
    .builder-editor-active #builder-select-preset-list .builder-preset:hover path {
      fill: #444; }
    .builder-editor-active #builder-select-preset-list .builder-preset:not(:hover) path {
      fill: #ddd; }
    .builder-editor-active #builder-select-preset-list .builder-preset svg {
      height: 50px; }

.builder-editor-preview #builder-add-section,
.builder-editor-preview .builder-editor-widget-settings,
.builder-editor-preview .builder-element-empty,
.builder-editor-preview .builder-element-overlay,
.builder-editor-preview .builder-empty,
.builder-editor-preview .builder-widget-empty,
.builder-editor-preview .column-title {
  display: none; }

/*# sourceMappingURL=editor-preview-rtl.css.map */