.qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tabs-wrapper {
  width: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tab-desktop-title.qazana-active {
  border-right-style: none; }
  .qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tab-desktop-title.qazana-active:before, .qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tab-desktop-title.qazana-active:after {
    height: 999em;
    width: 0;
    right: 0;
    border-right-style: solid; }
  .qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tab-desktop-title.qazana-active:before {
    top: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  .qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tab-desktop-title.qazana-active:after {
    top: 100%; }

.qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title {
  display: table-cell;
  border: 1px solid #e9e9e9;
  letter-spacing: -.4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px; }
  .qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title:first-child {
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px; }
  .qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title:last-child {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px; }
  .qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title,
  .qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title a {
    color: #383838; }
  .qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title.qazana-active {
    border-bottom-style: none;
    background-color: #3b55e6; }
    .qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title.qazana-active,
    .qazana-widget-tabs.qazana-tabs-view-horizontal .qazana-tab-desktop-title.qazana-active a {
      color: white; }

.qazana-widget-tabs .qazana-tabs {
  text-align: left; }

.qazana-widget-tabs .qazana-tabs-wrapper {
  overflow: hidden; }

.qazana-widget-tabs .qazana-tab-title {
  cursor: pointer;
  outline: none; }

.qazana-widget-tabs .qazana-tab-desktop-title {
  position: relative;
  padding: 5px 30px;
  font-weight: bold;
  line-height: 1;
  border: solid transparent; }
  .qazana-widget-tabs .qazana-tab-desktop-title a {
    line-height: 28px; }
  .qazana-widget-tabs .qazana-tab-desktop-title.qazana-active {
    border-color: transparent; }

.qazana-widget-tabs .qazana-tab-mobile-title {
  padding: 10px 10px;
  cursor: pointer; }

.qazana-widget-tabs .qazana-tab-content {
  padding: 20px 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.5, 0, 0.7, 0.3), -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.7, 0.3);
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.7, 0.3), -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.7, 0.3);
  -o-transition: transform 0.25s cubic-bezier(0.5, 0, 0.7, 0.3), opacity 0.3s cubic-bezier(0.5, 0, 0.7, 0.3);
  transition: transform 0.25s cubic-bezier(0.5, 0, 0.7, 0.3), opacity 0.3s cubic-bezier(0.5, 0, 0.7, 0.3);
  transition: transform 0.25s cubic-bezier(0.5, 0, 0.7, 0.3), opacity 0.3s cubic-bezier(0.5, 0, 0.7, 0.3), -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.7, 0.3);
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  visibility: hidden; }
  .qazana-widget-tabs .qazana-tab-content.qazana-active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: qazanaChangeTabSlideActive;
            animation-name: qazanaChangeTabSlideActive;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: .4s;
            animation-duration: .4s; }

@media (max-width: 767px) {
  .qazana-tabs .qazana-tab-title {
    border-style: solid;
    border-bottom-style: none; }
  .qazana-tabs .qazana-tabs-wrapper {
    display: none; }
  .qazana-tabs .qazana-tabs-content-wrapper {
    border-bottom-style: solid; }
  .qazana-tabs .qazana-tab-content {
    padding: 10px; } }

@media (min-width: 768px) {
  .qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .qazana-widget-tabs.qazana-tabs-view-vertical .qazana-tabs-content-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-style: solid;
    border-left-style: none; }
  .qazana-tabs .qazana-tab-mobile-title {
    display: none; } }

@-webkit-keyframes qazanaChangeTabSlideActive {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes qazanaChangeTabSlideActive {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
/*# sourceMappingURL=style.css.map */