.qazana-control-type-image_dimensions {

	.qazana-control-field-description {
		margin: 0 0 15px;
		line-height: 1.4;
	}

	.qazana-control-input-wrapper {
		overflow: hidden;
	}

	.qazana-image-dimensions-field {
		width: 65px;
		float: $start;

		input {

			&:focus {

				+ .qazana-image-dimensions-field-description {
					color: $editor-light;
				}
			}
		}
	}

	.qazana-image-dimensions-separator {
		width: 20px;
		text-align: center;
		float: $start;
		padding-top: 4px;
	}

	.qazana-image-dimensions-field-description {
		display: block;
		text-transform: uppercase;
		margin-top: 5px;
		color: $editor-lightest;
		font-size: 9px;
		text-align: center;
	}

	.qazana-image-dimensions-apply-button {
		float: $end;
		height: 27px;
		width: 65px;
	}
}