.qazana-control-type-popover_toggle {

	input {
		display: none;
	}

	label {
		cursor: pointer;
	}

	.qazana-control-input-wrapper {
		direction: getInverseDirection();
	}

	.qazana-control-popover-toggle-toggle {

		&:checked {

			+ .qazana-control-popover-toggle-toggle-label {
				color: $editor-info;
			}
		}

		&:not(:checked) {

			~ .qazana-control-popover-toggle-reset-label {
				display: none;
			}
		}
	}

	.qazana-control-popover-toggle-reset-label {
		color: $editor-lighter;
		@include padding-end(5px);
	}

	.qazana-control-popover-toggle-toggle-label {
		width: 50px;
		height: 27px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		border: 1px solid $editor-lightest;
	}
}