//
// Repeater
//

.qazana-control-type-repeater {

	&,
	.qazana-control:not(.qazana-control-type-tab) {
		padding: 0 10px 15px;
	}

	.qazana-control {

		&:before {
			display: none;
		}
	}

	&.qazana-repeater-has-minimum-rows {

		.qazana-repeater-tool-remove {
			display: none;
		}
	}

	.qazana-repeater-fields {
		margin: 10px 0;
	}

	.qazana-repeater-row-controls {
		border: 1px solid $editor-lightest;
		border-top-width: 0;
		padding-top: 15px;

		&:not(.editable) {
			display: none;
		}

		// Color Picker control
		.wp-picker-container {

			&.wp-picker-active {
				transform: translateY(0);
				border-width: 0;
			}
		}
	}

	.qazana-repeater-row-tools {
		display: table;
		table-layout: fixed;
		width: 100%;
		color: $editor-darker;
		background-color: $editor-lightest;
		height: 40px;
		border-spacing: 1px;
		transition: all .5s;

		&:hover {
			background-color: $editor-light;
		}

		> div {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;

			&:not(.qazana-repeater-row-handle-sortable) {
				background-color: #fff;
			}

			&:hover {
				opacity: .95;
			}
		}

		.qazana-repeater-row-item-title {
			text-align: $start;
			padding: 0 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			.fa {
				@include margin-end(5px);
			}
		}

		.qazana-repeater-row-tool {
			width: 40px;
		}

		.qazana-repeater-row-handle-sortable {
			cursor: move;
			width: 10px;
			color: #fff;
		}
	}

	.qazana-button-wrapper {
		text-align: center;
		padding: 10px;
	}
}
