.qazana-control-type-section {
	margin-top: 10px;
	padding: 0;

	&.qazana-open {
		padding-bottom: 15px;
	}

	+ .qazana-control {

		&:not(.qazana-control-type-section) {

			&:before {
				display: none;
			}
		}
	}
}