.qazana-widget-piechart canvas {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  max-width: 100%;
  -webkit-transform: rotateY(180deg) translateX(50%);
          transform: rotateY(180deg) translateX(50%); }

.qazana-widget-piechart .qazana-piechart {
  width: 100%;
  position: relative;
  text-align: center; }
  .qazana-widget-piechart .qazana-piechart-clockwise-yes canvas {
    -webkit-transform: rotateY(0) translateX(-50%);
            transform: rotateY(0) translateX(-50%); }
  .qazana-widget-piechart .qazana-piechart-number {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    line-height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .qazana-widget-piechart .qazana-piechart-number:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid grey;
      -webkit-border-radius: inherit;
              border-radius: inherit;
      content: ''; }
    .qazana-widget-piechart .qazana-piechart-number-prefix {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: right; }
    .qazana-widget-piechart .qazana-piechart-number-suffix {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: left;
      font-size: 70%; }
    .qazana-widget-piechart .qazana-piechart-number-progress {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      letter-spacing: -2px;
      font-size: 35px; }
  .qazana-widget-piechart .qazana-piechart-title a {
    color: inherit; }
  .qazana-widget-piechart .qazana-piechart-description {
    margin: 0; }

@media (min-width: 768px) {
  .qazana-widget-piechart.qazana-position-left .qazana-piechart, .qazana-widget-piechart.qazana-position-right .qazana-piechart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .qazana-widget-piechart.qazana-position-right .qazana-piechart {
    text-align: right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .qazana-widget-piechart.qazana-position-left .qazana-piechart {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .qazana-widget-piechart.qazana-position-top .qazana-piechart-number {
    margin: auto;
    text-align: center; }
  .qazana-widget-piechart.qazana-vertical-align-top .qazana-piechart {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .qazana-widget-piechart.qazana-vertical-align-middle .qazana-piechart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .qazana-widget-piechart.qazana-vertical-align-bottom .qazana-piechart {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; } }
/*# sourceMappingURL=style-rtl.css.map */