$direction: ltr;

@import 'helpers/variables';
@import "helpers/mixins";
@import "helpers/direction";

//
// Counter
//

@import "helpers/variables";
@import "editor/breakpoints";
@import "frontend/breakpoints/breakpoints";
@import "helpers/mixins";

.qazana-widget-counter {
    .qazana-counter- {
        &number- {
            &prefix {
                flex-grow: 1;
                text-align: $end;
            }

            &suffix {
                flex-grow: 1;
                text-align: $start;
            }
        }
    }

    @media (min-width: $screen-md-min) {
        &.qazana-position- {

            &left,
            &right {
                .qazana-counter {
                    display: flex;
                    align-items: center;
                }
            }

            &right {
                .qazana-counter {
                    text-align: $end;
                    flex-direction: getValueByDirection(row-reverse, row);
                }
            }

            &left {
                .qazana-counter {
                    text-align: $start;
                    flex-direction: getValueByDirection(row, row-reverse);
                }
            }

            &top {
                .qazana-counter-number {
                    margin: auto;
                    text-align: center;
                }
            }
        }

        &.qazana-vertical-align- {

            &top {

                .qazana-counter {
                    align-items: flex-start;
                }
            }

            &middle {

                .qazana-counter {
                    align-items: center;
                }
            }

            &bottom {

                .qazana-counter {
                    align-items: flex-end;
                }
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        .qazana-counter-number {
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 15px;
        }
    }

    .qazana-counter {
        width: 100%; // Hack for Chrome in flex mode
    }

    .qazana-counter-number {
        display: flex;
    }

    .qazana-counter-title a {
        color: inherit;
    }

    .qazana-counter {
        text-align: center;
    }

    .qazana-counter-description {
        margin: 0;
    }
}